[2016-10-05 13:47] bkinsey808 opened #1 "gql tag"
Does this project support the gql tag for graphql template literals?

[2016-10-05 15:45] kumarharsh commented on #1
can you be more specific by "support"? do you mean syntax highlighting within the template literal?

[2016-10-05 17:34] bkinsey808 commented on #1
yes, correct.

[2016-10-05 18:05] kumarharsh commented on #1
ok, thanks for clarifying. As far as I know, it's not possible as of this moment with vscode, as one of vscode's core members had stated in one of the issues elsewhere. I'll dig deeper and see what can be done about it. If possible, I'd also like to implement autocomplete for queries by tying it closely with the schemas.

[2016-10-26 11:13] kumarharsh opened #2 "Highlighting breaks on multi-line enum declarations"
When a file has a multi-line enum declaration, such as:

[code]

the highlighting breaks.

![image](https://cloud.githubusercontent.com/assets/760112/19723935/44e73264-9b9b-11e6-98c3-96b0c14588a5.png)

[2016-11-12 16:28] julienp commented on #1
I was poking a bit at this, and here's a proof of concept that enables the graphql (syntax highlighting) grammar inside Relay.QL and gql template strings: https://github.com/kumarharsh/graphql-for-vscode/compare/master...julienp:master

It also enables javascript syntax within ${} substitutions inside the template string.

[2016-11-12 19:24] kumarharsh commented on #1
@julienp that sounds fantastic! I'll have a look tomorrow at this!

[2016-11-13 18:46] kumarharsh commented on #1
@julienp I fail to see any noticeable change when trying out your changes. Is there any extra step you've done which are not in the commits you've pushed? I've tried this with vscode 1.7-insider and 1.8-insider.

For example, in the code from my master branch, I can see that the JS syntax within ${} is already enabled. Also, the graphql syntax highlighting doesn't seem to be working. See attached

[2016-11-13 20:02] julienp commented on #1
The problem is that fragmentName is not optional in the current grammar, but should be. See https://github.com/julienp/graphql-for-vscode/commit/b1689e8f04e21085b6dbb20b0314d844132620e3

Also there's an issue with the ${} substitution not being picked up inside a selection sets, but I haven't had time to track this down yet.

<img width="430" alt="screen shot 2016-11-13 at 20 59 27" src="https://c

[2016-11-22 06:51] kumarharsh commented on #2
fixed in e3b3914

[2016-11-22 06:51] #2 closed

[2016-11-25 10:24] Crevil opened #3 "Add CHANGELOG.md"
Make changes more clear by adding a `CHANGELOG.md` to the root. This enables the extension explorer to show changes and make the project progress more transparent.

This was enabled in the October VS Code 1.7 release: https://code.visualstudio.com/updates#_changelogs

[2016-11-25 11:24] kumarharsh commented on #3
Thank you @Crevil for the suggestion. The Changelog.md file is already there (in `client/` folder). I forgot to add the last change into the changelog though... 😄

[2016-11-25 11:24] #3 closed

[2016-11-25 11:32] Crevil commented on #3
@kumarharsh Ah, missed that. NVM.

[2016-11-26 23:09] kumarharsh opened #4 "Support for goto definitions, autocomplete"
@mayank1791989

[2016-11-28 22:30] kumarharsh commented on #1
@bkinsey808 @julienp I've added support for highlighting within template literals in the latest release. Have a look, and let me know if there are any bugs, etc. One thing to note is that syntax highlighting doesn't work when the language is set as "Javascript (Babel)",

[2016-11-29 09:27] bkinsey808 commented on #1
This is what I see now, looks pretty good, thanks.

![screenshot from 2016-11-28 23-25-59](https://cloud.githubusercontent.com/assets/475211/20704083/31e175da-b5c2-11e6-9e78-a6a216abc505.png)

[2016-12-04 14:24] #4 closed

[2016-12-04 15:46] kumarharsh commented on #1
I'm going to close this issue now. If there are more issues, kindly open a new one.

[2016-12-04 15:46] #1 closed

[2016-12-05 19:40] yurigenin opened #6 "Error when viewing .gql file"
[Error - 12:36:21 PM] Server initialization failed.
  Message: Request initialize failed with message: Could not find a .gqlconfig file. Create a .gqlconfig file in project root directory.
  Code: -32603

[2016-12-05 19:43] yurigenin opened #7 "js file highlighting broken when .gql is present anywhere in the file"
When you open a .js file and have a string that has '.gql' anywhere the highlighting is broken after that.

![image](https://cloud.githubusercontent.com/assets/11202960/20899643/7432a3ac-bae8-11e6-899b-9160eaa3e4c6.png)

[2016-12-06 06:39] kumarharsh commented on #6
@yurigenin thank you for the report. I forgot to mention this in the readme. The playlyfe/gql package requires a .gqlconfig file to function. I'll make some changes soon.

[2016-12-06 06:39] kumarharsh commented on #7
I'll.look into it. Thanks.

[2016-12-07 07:39] kumarharsh commented on #6
Related issue: https://github.com/Microsoft/vscode/issues/2793

[2016-12-07 07:39] kumarharsh commented on #6
Related issue: https://github.com/Microsoft/vscode/issues/6858#issuecomment-221801714

[2016-12-08 08:58] kumarharsh commented on #6
I think it'll be "properly" fixed only when v8 ships with lookbehind support: http://v8project.blogspot.in/2016/02/regexp-lookbehind-assertions.html?m=1

[2016-12-14 19:16] ackzell commented on #6
Hey @kumarharsh, awesome extension! Thanks a lot for your work.

I am wondering what the .gqlconfig file should look like?

I think all I'm getting from the extension is syntax highlight and a couple snippets, but not the rest.

[2016-12-15 07:50] kumarharsh commented on #6
@ackzell - the .gqlconfig file is actually needed by the [@playlyfe/gql](https://github.com/Mayank1791989/gql) plugin this is based off. The .gqlconfig is a JSON-ish file with only one key which is required: `schema.files` which is the path to your `*.gql` files relative to your workspace root.

example:
[code]

[2016-12-15 16:31] ackzell commented on #6
Great, thanks.

I went into the _@playly/gql_ project but couldn't find the syntax.

Works like a charm!

[2016-12-16 10:13] afduarte commented on #6
I recommend these instructions and the example .gqlconfig are moved to the readme file, just spent a massive amount of time only trying to configure the plugin

[2016-12-16 10:49] kumarharsh commented on #6
@afduarte I completely agree. I just haven't found time this week for this. I'll push an update as soon as I get some time (probably tomorrow).

[2016-12-16 10:53] afduarte commented on #6
Should I just submit a Pull Request? I'll do it if I have time

[2016-12-16 12:03] kumarharsh commented on #6
Sure, that'd be great

[2016-12-20 21:09] kumarharsh commented on #7
Related issue: https://github.com/Microsoft/vscode/issues/2793
Related issue: https://github.com/Microsoft/vscode/issues/6858#issuecomment-221801714

I think it'll be "properly" fixed only when v8 ships with lookbehind support: http://v8project.blogspot.in/2016/02/regexp-lookbehind-assertions.html?m=1
https://github.com/Microsoft/vscode/issues/16891#issuecomment-265676639

[2016-12-20 21:10] kumarharsh commented on #7
OK, after some digging, I found a few documents which highlight what all those textmate scopenames mean. Putting here for future documentation:

https://discuss.atom.io/t/grammar-injections/13412/3
https://github.com/textmate/markdown.tmbundle/issues/15

[2016-12-20 22:20] julienp commented on #7
Thank you for the information, very useful!

[2016-12-26 20:51] kumarharsh commented on #7
fixed in d021915eb42a117a3ed8770b3e0725aa723b49e5

[2016-12-26 20:53] #7 closed

[2016-12-26 20:53] #6 closed

[2017-01-21 10:54] majodev opened #12 "gqlModule.GQL is not a constructor"
Hi!

Looks like the latest [@playlyfe/gql@v2.0.0](https://github.com/Mayank1791989/gql/releases/tag/v2.0.0) release breaks this extension [here](https://github.com/kumarharsh/graphql-for-vscode/blob/48a4975d213802b0c9e389ba01e3e6c6ba00768e/src/server/server.ts#L80).

Editor Output:
[code]

[2017-01-21 11:36] kumarharsh commented on #12
@majodev yes, v2 of @playlyfe/gql has some breaking changes. I'm working on getting a release with the latest version in place soon. Till that time, please use the v1 releases of @playlyfe/gql.

[2017-01-25 14:28] idibidiart opened #13 "Error in VSCode"
[Error - 6:14:30 AM] Server initialization failed.
  Message: Request initialize failed with message: Couldn't find module '@playlyfe/gql' in path

[2017-01-27 08:30] kumarharsh commented on #13
@idibidiart please see the Setup instructions in the readme. https://github.com/kumarharsh/graphql-for-vscode#setting-it-up

[2017-01-27 08:30] #13 closed

[2017-01-30 13:26] kumarharsh commented on #12
I've released the new version, which fixes this issue. Kindly upgrade the `@playlyfe/gql` package to the x2.x branch.

[2017-01-30 13:26] #12 closed

[2017-01-31 10:46] majodev commented on #12
Just checked, it's really now awesome with query code completion. Keep up the good work!

[2017-02-01 07:35] kumarharsh commented on #12
Thank you @majodev!

[2017-02-02 12:10] alloy opened #15 "Relay specific features"
Hi,

For [this tool to generate TypeScript interfaces for Relay queries](https://github.com/alloy/relay2ts) I had started on [a VSCode extension](https://github.com/alloy/vscode-relay) that basically just wraps that tool.

Later on I found your extension and I’m wondering how you see the overlap in these things and if you think we could/should merge this work of mine into your extension instead, o

[2017-02-03 16:25] felixfbecker opened #16 "Bundle @playlyfe/gql"
Why do I have to install it manually, and even a specific version?

[2017-02-03 16:26] felixfbecker opened #17 "Request initialize failed with message: Cannot find module 'lodash/uniq'"
[code]

[2017-02-03 17:14] kumarharsh commented on #16
@playlyfe/gql does more than just provide autocomplete support. You can use the library to build your schema files into json, lint them in pre-commit hooks, and even integrate the build process with webpack with watch (this is in-works). I've thought about bundling it, but the benefits of using it beyond just the plugin have kept me from doing it.

[2017-02-03 17:24] felixfbecker commented on #16
That's nice, but in projects where it is not used this is annoying - is there any disadvantage to bundling it? It clearly is a dependency of the language server

[2017-02-03 18:10] Mayank1791989 commented on #17
fixed in @playlyfe/gql v2.2.1

[2017-02-03 18:10] #17 closed

[2017-02-05 12:31] kumarharsh commented on #16
I understand your position @felixfbecker. But you have to see that the gql library **is** the heart of a language server, and the code in this vscode extension is just a thin wrapper over it. The gql library can form a common base for language servers for other editors such as Sublime Text, Atom, etc too. If all developers in your team are not *in* for vscode, then they can use the editor of their

[2017-02-05 12:31] #16 closed

[2017-02-05 12:33] kumarharsh commented on #15
Hey, great idea, let me have a look. Haven't worked on TS+Relay projects yet, so I don't completely understand the need. Let me take a look around, and I'll come back with my thoughts in a little while.

[2017-02-05 12:46] felixfbecker commented on #16
Hm ESLint is a linter though, this is a language service. And the version you use in your project might not even be compatible with the version the extension requires...
FYI in my PHP IntelliSense extension (which is just a small wrapper around the PHP language server) I bundle the language server, I would find it weird if every user had to install it into their workspaces.

But I get your reasoni

[2017-02-06 12:40] alloy commented on #15
I will add that since then I’ve learned that Relay 2 is going to be outputting Flow typings for the fragments during compilation and they’ve told me that that would be the right place for me to generate TypeScript typings as well. But seeing as Relay 2 is not available in any form yet, we’ll have to wait and see how well this integrates with an open editor session and if there’s still a need for a

[2017-02-07 23:50] idibidiart commented on #13
@kumarharsh the link to install @playlyfe/gql  is broken ....

https://github.com/kumarharsh/graphql-for-vscode/blob/master/npmjs.org/package/@playlyfe/gql

[2017-02-08 01:27] idibidiart opened #18 "My schema is templated in JS"
`const typeDefinitions = `
enum Category {
  POLITICS
  TECHNOLOGY
  SPORTS
  OTHER
}
etc ...
`;
export default [typeDefinitions]
`

....

Trying to get GraphQL plugin for VSCode working but the above format doesn't seem to be supported as the example mentions .gql files, not .js

Is the above format supported or not?

[2017-02-08 06:49] kumarharsh commented on #18
No, currently we only support .gql files. By the way, may I ask why you're doing it this way? Just curious. If you're compiling the schema, you can use webpack on gql files directly too.

Also, supporting JS schema would require some additional overhead such as involving babel for parsing and compiling the JS, etc, which would increase the startup time.

[2017-02-08 06:49] kumarharsh commented on #13
Thanks for pointing out the error. I'll get it corrected soon 😄

[2017-02-08 18:58] Alexisvt commented on #18
Can you please provide an example of how to do that? Thanks

[2017-02-10 10:14] kumarharsh commented on #18
@Alexisvt take a look at this gist: https://gist.github.com/kumarharsh/4a4ee5d8f9c9b8153adad2a7ab21cb71

[2017-02-16 10:21] ugputu18 opened #19 "Type "BigDecimal" not found"
BigDecimal is a valid type for graphql data. We use it with react-relay. Please add support of this type.

[2017-02-16 10:46] kumarharsh commented on #19
@ugputu18 BigDecimal is not in the official graphql spec: http://graphql.org/graphql-js/type. You have to define custom scalars for these type of things. Are you using a different implementation of graphql like Java?

[2017-02-23 19:09] #19 closed

[2017-02-23 19:09] #18 closed

[2017-03-04 14:36] alloy opened #20 "Syntax highlighting breaks after interpolation"
Highlighting breaks after an interpolated string:

<img width="523" alt="screen shot 2017-03-04 at 15 33 43" src="https://cloud.githubusercontent.com/assets/2320/23579548/1ea72f22-00f0-11e7-81e0-09c56b65ad3f.png">

This is what the rest of the file should look like:

<img width="540" alt="screen shot 2017-03-04 at 15 33 08" src="https://cloud.githubusercontent.com/assets/2320/23579553/27111d76-00f

[2017-03-04 15:52] kumarharsh commented on #20
@alloy make sure you've chosen 'Javascript React' as the language. Also, if possible, try installing the 'Sublime Babel' plugin by Josh Peng. If that doesn't help, can you share the plugins you've installed? I'm not getting this error:

![image](https://cloud.githubusercontent.com/assets/760112/23580068/79b6e882-0120-11e7-98c2-fa8b14201f68.png)

[2017-03-04 18:28] alloy commented on #20
Sorry, should have mentioned this is TypeScript and given you a snippet, in case you still need it you can find an example file [here](https://github.com/artsy/reaction-force/blob/bb847e8fac8567ab7a1fa3a5d89d495f998c843f/src/components/__stories__/artwork_grid.tsx).

I tried switching to JavaScript React, but the same problem occurs. However, I did find the real cause, it is because I use double-q

[2017-03-04 19:16] kumarharsh commented on #20
@alloy, wow, yes, double quotes don't work apparently. will look into it.

[2017-03-28 14:58] xpepermint opened #21 "type & input directive syntax highlighting"
The current version of this extension (`v1.1.1`) does not handle type/input related directives.

Example:
[code]

[2017-03-31 08:03] majodev opened #22 "Support importing fragments"
Enhancement, see documentation in [gql-tag](https://github.com/apollographql/graphql-tag/pull/33).

[2017-03-31 09:47] kumarharsh commented on #22
@majodev - from what I read, this is a webpack feature rather than an editor feature. Can you clarify exactly what you mean?

[2017-03-31 09:51] kumarharsh commented on #21
@xpepermint can you provide with a link where I can learn more about this? From what I see in the official spec, there are only two directives supported for queries, but none for type or input. Ref: http://graphql.org/learn/queries/#directives

[2017-03-31 10:03] majodev commented on #22
Sure, this allows to import fragments from other files, however to plugin does not understand the import syntax, which leads to `NoUnusedFragments` and `KnownFragmentNames` errors.

See the attached screenshot.
<img width="1204" alt="bildschirmfoto 2017-03-31 um 12 02 20" src="https://cloud.githubusercontent.com/assets/2149883/24546046/f127ef3a-1609-11e7-8e55-52f4415dcae4.png">

[2017-03-31 12:04] kumarharsh commented on #22
OK, I understand, thanks for the screenshot too. I'll look into how to do this.

[2017-03-31 16:16] xpepermint commented on #21
@kumarharsh not all features are documented but have been in use for months. You should check the [graphql-js](https://github.com/graphql/graphql-js) implementation to see that. You can use `parse` method to see the available features.

Example:
[code]

[2017-04-10 14:31] kumarharsh commented on #15
@alloy as per your previous comment, I'm going to close this issue for now.

[2017-04-10 14:32] #15 closed

[2017-04-11 05:48] xpepermint commented on #21
Also: https://github.com/graphql/graphql-js/issues/797

[2017-04-14 07:57] kumarharsh commented on #20
This was fixed in 4957092ae9424c7bd8e570495c3df6423de683ce. Let me know if you face the issue again.

[2017-04-14 08:32] alloy commented on #20
@kumarharsh Awesome, that does the trick!

However, I did notice that I now lost JS syntax highlighting for the string interpolation (both the interpolation syntax _and_ JS syntax inside of it). Is that a known thing (because I see it happening in your above screenshot too)?

## Before

<img width="275" alt="screen shot 2017-04-14 at 10 31 36" src="https://cloud.githubusercontent.com/assets/2320/2

[2017-04-14 08:41] kumarharsh commented on #20
@alloy that's surprising, because I've never gotten the strings to highlight at all for me, even with monokai theme XD

What I found was an intrinsic problem with how the patterns were defined, which you can read more about in the description of the commit I linked to above.

[2017-04-14 08:47] alloy commented on #20
Hahaha ¯\_(ツ)_/¯

Shall I file a separate ticket for that issue?

[2017-04-14 08:50] kumarharsh commented on #20
No, lets track it here itself.

[2017-04-14 08:55] kumarharsh commented on #20
If possible, can you rebuild the extension before this commit, and tell me the scopes being applied to `ArtworkGrid`, `.getFragment` and `"artworks"`?

What I get right now for the first two are:

[code]

and the last one `"artworks"` doesn't have `variable.graphql`.

[2017-04-14 08:56] alloy commented on #20
How can I tell what scopes are being applied?

[2017-04-14 09:14] kumarharsh commented on #20
Ctrl-Shift-P > Inspect TM Scopes

[2017-04-15 14:57] #21 closed

[2017-04-15 14:59] xpepermint commented on #21
Perfect!

[2017-04-15 15:29] KhalilMohammad opened #24 "Setting it up for vscode .Link is dead"
@playlyfe/gql Linrary link is dead

[2017-04-15 17:22] kumarharsh commented on #24
@KhalilMohammad thank you for the report. Next update will fix it. Here's the actual link: https://npmjs.org/package/@playlyfe/gql

[2017-04-15 17:22] #24 closed

[2017-04-17 08:57] kumarharsh commented on #20
@alloy - I think I might have solved it - check out the changes at 6704c13

[2017-04-18 13:23] alloy commented on #20
Aw yeah, works great! 👏

(Sorry for not responding earlier.)

[2017-04-18 13:23] #20 closed

[2017-04-18 13:36] kumarharsh commented on #22
I think the [gql repo](https://github.com/Mayank1791989/gql) will be the best place to handle this.

[2017-04-18 13:36] #22 closed

[2017-04-21 17:53] hartshorne opened #25 "feature request: symbol information"
would be nice to be able to jump to symbols using the goto symbol commands. thanks!

[2017-05-07 23:00] jvbianchi opened #26 "Validate configuration ignored"
In a configuration like this:
[code]
the validate part is ignored

[2017-05-14 11:53] ticruz38 opened #27 "request feature: autocomplete as we type"
That plugin is truly awesome.
That would be even better though to have autocomplete when writing queries. Pretty much like in graphiql.
Currently we got the errors on query field when saved.

[2017-05-15 09:32] kumarharsh commented on #27
The autocomplete is already there. Press Ctrl+Space for suggestions.

[2017-05-15 09:37] ticruz38 commented on #27
Damn you're right! totally awesome

[2017-05-15 09:37] #27 closed

[2017-05-15 20:00] Mayank1791989 commented on #26
This issue was moved to Mayank1791989/gql#15

[2017-05-15 20:00] #26 closed

[2017-05-24 11:45] razakpm opened #28 "feature request: Visualization in IDE with the plugin"
Provide an option to view GraphQL visualization in IDE itself.

[2017-05-24 14:48] kumarharsh commented on #28
@razakpm do you mean this: http://nathanrandal.com/graphql-visualizer/

[2017-05-25 08:49] razakpm commented on #28
@kumarharsh , Yes we also using https://apis.guru/graphql-voyager/ or https://github.com/sheerun/graphqlviz

[2017-05-27 19:19] jvbianchi opened #29 "The Graphql For VSCode server crashed 5 times in the last 3 minutes. The server will not be restarted."
If I run `watchman -v` I get the response `4.7.0`

Every time I open VSCode I got this error, with this output:
[code]

**After I reload VSCode the problem goes away.**

[2017-05-27 19:22] kumarharsh commented on #29
Are you on Windows?

[2017-05-27 19:23] jvbianchi commented on #29
macOS Sierra 10.12.5

[2017-05-27 20:16] kumarharsh commented on #29
Okay. I asked because it also crashes sometimes for me, On Windows, it happens because watchman watches the whole directory (down to the last node_module), and if I'm running any other command which might lock-up the directories while watchman is initializing, it fails with a similar error. In that case, I run 'watchman shutdown-server' and start vscode again (or just reload the window).

I'm not

[2017-05-27 20:18] jvbianchi commented on #29
no, I start the computer and open VSCode and this error happens every time

[2017-05-28 21:19] wttw commented on #29
If you start an app on OS X from the dock you get the system environment, including the system PATH (mostly set from config files in /etc/paths.d, AFAICT). If you start it from a command line (e.g. with "code .") you get the environment set in your shell.

A lot of weird OS X problems with VS Code seem to come from it being started with the wrong PATH; this looks like one of those.

[2017-05-28 23:45] jvbianchi commented on #29
Is there a way to solve this path problem?

[2017-05-29 05:16] kumarharsh commented on #29
@wttw thanks. @jvbianchi  yes, I also think this is related to the same problem - I remember there was a long issue on vscode repo relating to this, with the recommended fix for it. I'll update this when I find that issue.

[2017-06-01 05:56] alexicum opened #30 "Use with eslint-plugin-graphql. Option for disable watchman + linting"
I'm using this plugin with https://github.com/apollographql/eslint-plugin-graphql
Both plugins do linting, and we see duplicate error messages, details here:
https://github.com/apollographql/eslint-plugin-graphql/issues/68#issuecomment-304588901

Am I right that watchman is notifying "graphql-for-vscode" to start linting?

It would be great to add option for disabling this plugin linting (and watc

[2017-06-01 06:42] kumarharsh commented on #30
@alexicum - thank you for the report. The linting is managed by the [gql](https://github.com/Mayank1791989/gql) library which is based off watchman. I'll look into it.

[2017-06-01 09:22] alexicum commented on #30
@kumarharsh - thank you!

[2017-06-02 11:31] gaoxiaoliangz opened #31 "Request to add disable line feature"
When writing graphql queries, I often have to import external gql files and use them as fragments, like so:

[code]
but the plugin give me '[graphql] Syntax Error: Unexpected $' error. I know it seems to be an error for the plugin, but in the real world, it works fine, so how to disable that line of linting so it would not produce errors like that?

[2017-06-05 12:08] kumarharsh commented on #31
@gaoxiaoliangz thank you for the report. The plugin shouldn't be throwing this error, as the interpolation you're doing is perfectly valid. I'm myself writing components like so:
![image](https://cloud.githubusercontent.com/assets/760112/26783398/93a7908c-4a15-11e7-9611-252c893c8165.png)

Please make sure that you're using the latest [gql library](https://github.com/Mayank1791989/gql). If you get

[2017-06-05 14:37] thomasdingemanse opened #32 "Request to add/fix syntax highlighting for types implementing multiple interfaces"
When implementing multiple interfaces on the same object, only the first one is recognized as such and becomes green. The other interfaces stay white.

Example:

[code]

[2017-06-05 15:23] Mayank1791989 commented on #31
Actually, the plugin will throw an error as [gql](https://github.com/Mayank1791989/gql) parser only support interpolation inside operations and fragments (relay style) not outside as in apollo.

[2017-06-05 15:24] Mayank1791989 commented on #31
This issue was moved to Mayank1791989/gql#28

[2017-06-05 15:24] #31 closed

[2017-06-05 16:00] Mayank1791989 commented on #30
It's better we add new validation mode 'onType' which can be changed using option
`graphqlForVSCode.validate: onType | onSave`

[2017-06-05 19:48] kumarharsh commented on #32
Thank you @thomasdingemanse for the report.

[2017-06-28 09:35] peterholak opened #33 "Doesn't work with schema path outside project root"
[code]

doesn't work, while

[code]

works just fine.

Using it on Windows 10, not sure how to get any useful error message (I just see an error icon in VSCode and the plugin features don't work).

[2017-07-05 11:33] kumarharsh commented on #25
@hartshorne you can already do that using "Go to Definition" or "F12"/"Ctrl+Click" in `.js(x)` or `.ts(x)` code as well as your `.feature` / `.gql` schema files.

[2017-07-05 11:42] kumarharsh commented on #25
Sorry, I misunderstood the request to mean "Goto Definition" in haste. I'm looking into this.

[2017-08-09 05:18] ajhyndman opened #35 "Support Relay modern template strings"
Currently syntax highlighting is supported for Relay classic template strings.

[code]

But not Relay modern template strings.

[code]

It would be great to update this!

[2017-08-14 09:03] kumarharsh commented on #35
Fixed in ebfbce3

[2017-08-14 09:03] #35 closed

[2017-08-14 09:04] kumarharsh commented on #33
This plugin was designed with the expectation that the graphql files would be included with the project and checked into source control - you'll also need to put the `.gqlconfig` file in the root of your project. May I know about your use case?

[2017-08-14 09:12] kumarharsh commented on #29
@jvbianchi did you get this solved? I'm sure I remember the issue being discussed in the VSCode or Atom repos about the path problems being linked to where the editor was launched from, but haven't been able to find the exact issue, but here are some more discussions along those lines:

https://github.com/Microsoft/vscode/issues/17798
https://github.com/Microsoft/vscode/issues/14229
https://github

[2017-08-14 09:12] #29 closed

[2017-08-14 12:54] ajhyndman commented on #35
Awesome!  Thanks for a great plugin!

[2017-08-22 10:48] peterholak commented on #33
I have a project where both the client and the server (multiple different servers in fact) are in the same git repository, and share the same graphql schema. So the directory structure goes something like

    |- client
        |- package.json
        |- webpack.config.js
        |- ...
    |- server1
    |- server2
    |- graphql
        |- schema.graphql
    |- README.md and other stuff

In VSCo

[2017-08-22 17:31] kumarharsh commented on #33
Got it.

[2017-08-30 11:32] saborrie opened #38 "GraphQL suggestions have a low priority in autocomplete within JS files"
I created a new react app using 'create-react-app' and then added these type definitions to the appropriate places in `.gqlconfig`:

[code]

Everything is working as it should except that the GraphQL query suggestions are at the very bottom of the autocomplete list:

![image](https://user-images.githubusercontent.com/4096734/29870205-458b0576-8d7e-11e7-94a2-fbd2f083f768.png)

[2017-08-30 11:42] saborrie commented on #38
Perhaps also the list of snippets/suggestions that are for JavaScript should not show up, if that's possible

[2017-08-30 15:55] kumarharsh commented on #38
Thanks for the report. I'll see if I can influence the sort order in some way.

I have snippets usually turned off in the autocomplete list, and invoke them separately with a different keybinding because I found that I rarely used even 5% of the default JS snippets.

[2017-09-05 13:17] StevenLangbroek opened #40 "Support for `.graphqlrc` files"
There's a [parser](https://www.npmjs.com/package/graphql-config-parser) available on `npm`. It allows fetching a schema from an endpoint, which automates a whole bunch of manual wiring you'd have to normally maintain (exporting & importing Schemas). Would you be open to implementing this? And if so: how can I help? :)

[2017-09-12 05:18] kumarharsh commented on #40
@StevenLangbroek - the config file reading logic is in the related [gql](https://github.com/Mayank1791989/gql) repo. Looping @Mayank1791989 in.

[2017-09-12 07:12] kumarharsh commented on #33
So, I looked into the related gql project internals, and it uses minimatch for matching your paths. Minimatch [doesn't support](https://github.com/isaacs/minimatch/issues/30) specifying `..` in the path. I think we can do a fix on our end to handle relative paths with `..` in some special way.

[2017-09-12 11:23] peterholak commented on #33
I wonder if it's even worth fixing with the dependencies being how they are...

[2017-09-12 13:05] kumarharsh commented on #33
I've figured out how to fix it on my side, not sure if watchman supports it though... The docs are a little lacking - I'll dig there some more. Just a quick question @peterholak, your `client` and `server1`, `server2`... folders are all nested within the same root folder. Is the root folder the **git** root too? Does the  `.git` folder lie in the root folder, or in each subfolder?

[2017-09-12 13:20] peterholak commented on #33
Just one `.git` in the root folder.

[2017-09-14 13:07] krokofant opened #41 "GraphQL language server has stopped"
I'd like to provide some more information or troubleshoot but I'm not sure how to. I found no way of debugging externally installed plugins.

I'd be glad for any directions investigating this, thanks.

[code]

Trying to setup this plugin locally the server errors out:
[code]

when trying to only compile the client I get this:
[code]

[2017-09-15 11:13] kumarharsh commented on #41
@krokofant what is your `tsc` version? Make sure you have atleast 1.5.3+.

After pulling this repo, run `yarn install`, followed by `yarn run compile-server` and `yarn run compile` for front-end and backend respectively.

[2017-09-15 11:18] #41 closed

[2017-09-15 20:40] matthewoates opened #42 "Setup way too complex"
Isn't it sufficient to only point to the `schema.graphql` file? Also, can't it make some assumptions about where that file might be?

[2017-09-17 10:44] kumarharsh commented on #42
Thank you for the suggestions. I myself have not worked with a lot of graphql projects, and it seems to me different teams organize their schemas differently. For the projects I'm working on, the schema is too big to be contained in one file, and before making the plugin, I'd seen more projects which followed similar trends of splitting up schema, but their folder structure was different enough, s

[2017-09-18 20:23] mjbvz opened #43 "Mark js/ts query strings as language:graphql"
**Problem**
Graphql template strings are currently marked as `language: javascript`

![screen shot 2017-09-18 at 1 20 42 pm](https://user-images.githubusercontent.com/12821956/30562715-55458f18-9c74-11e7-9901-b75d81b3117f.png)

It should be `css` instead. The language mode effects editor features such as bracket matching.

**Fix**
VSCode has an `embeddedLanguages` setting that marks language mode

[2017-09-19 06:20] kumarharsh commented on #43
thanks @mjbvz. I was keenly following the discussion in the vscode repo about embeddedlanguages. Good to see it land so quickly 👍

[2017-09-19 21:23] batjko commented on #42
I have a fairly large schema at work, which we split into conceptually segregated js files (usually one file for each type and all its resolvers), and use the [merge-graphql-schemas](https://github.com/okgrow/merge-graphql-schemas) package to merge the types and resolvers from the various files.
I think for any large schema it makes sense to modularize somehow, so I appreciate that some config wil

[2017-09-19 22:48] matthewoates commented on #42
Great discussion so far. The `schema.graphql` file that I'm mentioning is a compiled asset that combines all types for your GraphQL schema into one file. I agree that any non-trivial GraphQL service should have its source code for all of its types split up into different files.

Here's what I've been using to create the single GraphQL file: https://github.com/relayjs/relay-examples/blob/72e0644c57

[2017-09-20 07:13] kumarharsh commented on #42
@matthewoates the plugin automatically combines the graphql schema so you don't have to.

Yes, I take your point about watchman - it really is a PITA. I work on Windows, and facebook's tooling is not at all productive on windows - watchman is still ok, but getting flow running and keeping it running on my machine has been impossible for me. It'd be helpful if an issue can be opened on [gql](https:

[2017-09-20 08:11] batjko commented on #42
@kumarharsh Done (https://github.com/Mayank1791989/gql/issues/62).
Although I have not suggested a particular replacement (not sure myself) at this point, it would at least get the thought on the radar.

[2017-09-20 22:23] kumarharsh commented on #43
@mjbvz is the implementation for this feature in vscode *complete*, or is it pending some review? I can verify that the code works in the latest insider. Just want to ensure the embeddedLanguages feature is officially supported before shipping.

[2017-09-20 22:29] kumarharsh commented on #38
Apparently, the ordering can't be influenced by plugins in any way. You can control the autocomplete suggestions on your end via settings.
See this issue: https://github.com/Microsoft/vscode/issues/9286 and related ones for more details.

[2017-09-20 22:29] #38 closed

[2017-09-20 22:33] #43 closed

[2017-09-20 22:36] mjbvz commented on #43
Thanks! Yes the embeddedLanguages went out with a recent insiders build and we plan on rolling it with the official VS Code 1.17 release at the start of October. The feature will only work in VS Code 1.17+ but should not regress earlier versions of code

[2017-09-27 07:30] kumarharsh commented on #22
This can be solved by following the suggestions mentioned here:

https://github.com/Mayank1791989/gql/issues/3#issuecomment-332317671

[2017-09-29 06:19] felixfbecker opened #46 "Support for multi-folder workspaces"
Seems like when using this plugin with multi-folder workspaces, it cannot find the .gqlconfig file

![image](https://user-images.githubusercontent.com/10532611/31003227-6b74ec8e-a4a3-11e7-93ee-64b42cf8447d.png)

[code]

[2017-10-01 18:24] the-simian commented on #42
The fact that one must install watchman globally to make this plugin work is a major code smell. If the project implements watchman, is there not a way to encapsulate that in the plugin?

same with `@playlyfe/gql` , is it not possible to make this be a dependency of the plugin?

[2017-10-01 18:40] kumarharsh commented on #42
Agreed @the-simian. As per https://github.com/Mayank1791989/gql/issues/62#issuecomment-330945526, I think the reliance of watchman itself might be removed. I'll keep this topic updated.

[2017-10-01 18:59] the-simian opened #47 "The Graphql For VSCode server crashed 5 times in the last 3 minutes. The server will not be restarted. : Watchman was not found in PATH"
The Graphql For VSCode server crashed 5 times in the last 3 minutes. The server will not be restarted. : Watchman was not found in PATH
[code]
![image](https://user-images.githubusercontent.com/954596/31057939-e23e3e88-a6b0-11e7-91bc-6d30f21e4cff.png)

- Watchman IS in my path. I can call it from cmd line, no problem.

![image](https://user-images.githubusercontent.com/954596/31058098-87a9ed84-a6b

[2017-10-03 07:25] kumarharsh commented on #47
Yes, that's a valid issue. There are times when the vscode plugin doesn't communicate with watchman which is running on Windows. The trick is to first do `watchman shutdown-server`, and then just reload your vscode window via `Reload Window` which will cause the plugin to get reinitialized, and things should work.

I've myself faced this issue several times, and it's really irritating on Windows (

[2017-10-03 07:25] #47 closed

[2017-10-04 18:11] voxmatt opened #48 "Unknown directive "argumentDefinitions", "arguments""
I get the error `[graphql] Unknown directive "argumentDefinitions". (KnownDirectives)` on a few of the `graphql.experimental` directives. Specifically, `@argumentDefinitions` and `@arguments`

These are used by Relay-Modern and I'd love support for them.

[2017-10-09 18:04] Mayank1791989 commented on #48
see issue https://github.com/Mayank1791989/gql/issues/52

[2017-10-09 19:20] voxmatt commented on #48
Ah, great. Sorry, I did search the issues first but missed this one. Thanks!

[2017-10-09 19:20] #48 closed

[2017-10-13 21:28] pungggi commented on #19
I have a similar issue with DateTime..
Would be nice to be able to specify those unofficials in a config or so. Is that possible?

[2017-10-14 04:05] sparcut commented on #1
[Microsoft/vscode/issues/5961](https://github.com/Microsoft/vscode/issues/5961#issuecomment-335964652) - Support now avaliable! :tada:

[2017-10-14 06:38] pungggi commented on #1
nice! will it now be possible to have intellisense in the query?

[2017-10-14 21:09] pungggi opened #49 "Autocomplete for Types and Fields of my Schema in Queries"
I am writing this because I still dont understand if it is a bug or I did not unterstand the !Autocompletion feature.

I have config file
![image](https://user-images.githubusercontent.com/5635709/31579262-c7d9ec0e-b132-11e7-9e47-40b65a310faf.png)

It recognizes my path, even the template literals, but the suggestion it makes is
![image](https://user-images.githubusercontent.com/5635709/31579304-f

[2017-10-14 22:49] sparcut commented on #1
@pungggi Theoretically, yes.

Microsoft's example of using this in an extension is [Microsoft/typescript-lit-html-plugin](https://github.com/Microsoft/typescript-lit-html-plugin)

[2017-10-14 22:51] sparcut commented on #1
@kumarharsh Are you working on this, or should I make a PR?

[2017-10-15 09:07] Mayank1791989 commented on #1
@pungggi and @sparcut this plugin already support intellisense in queries from v1.1.0.

[2017-10-17 12:08] alloy commented on #42
Nice! The watchman requirement being removed from `gql` is one step forwards, but, like @the-simian, I also wonder if the dependency on `gql` can’t be done as part of this extension rather than requiring the user to add it to their dependencies?

[2017-10-18 12:11] kumarharsh commented on #49
Already being discussed in Mayank1791989/gql#67

[2017-10-18 12:11] #49 closed

[2017-10-18 12:13] kumarharsh commented on #33
I think this feature might be possible after [this is resolved](https://github.com/Mayank1791989/gql/issues/62#issuecomment-330945526).

[2017-10-25 02:47] ganeshpms opened #51 "GQL:Graphql Server hasstopped"
![gql](https://user-images.githubusercontent.com/5632736/31977998-fc439592-b904-11e7-81db-699014cb8e64.jpg)
After installing and configured as instructed, the .gql file is not getting the autocomplete or F12 reference. Also in the status bar, it says"Graph QL Server has stopped". Any suggestion to resolve this issue?

[2017-10-25 17:45] Mayank1791989 commented on #51
Please share your .gqlconfig and sample .gql file.

[2017-10-25 17:50] ganeshpms commented on #51
Uploaded the file.  [ please note I am using Windows]
[.gqlconfig.txt](https://github.com/kumarharsh/graphql-for-vscode/files/1415617/default.gqlconfig.txt)

[job.gql.txt](https://github.com/kumarharsh/graphql-for-vscode/files/1415622/job.gql.txt)
[schema.gql.txt](https://github.com/kumarharsh/graphql-for-vscode/files/1415623/schema.gql.txt)

[2017-10-25 18:02] Mayank1791989 commented on #51
You have to modify .gqlconfig file according to your project (.gqlconfig in readme is sample config). If you can share your project structure I can help you in that.

[2017-10-25 18:27] ganeshpms commented on #51
It is working when I try to set a sample project. Thanks for your help.

[2017-10-25 18:27] #51 closed

[2017-11-02 10:27] klis87 opened #52 "Add syntax highlighting to graphql-tools"
Please add support for highlighting for [graphql-tools](https://github.com/apollographql/graphql-tools), or add a settings like `EmbeddedQueryParser` in `.gqlconfig` with `startTag` and `endTag` to enable highlighting.

The convention in graphql-tools is to declare types like this:
[code]

[2017-11-02 18:37] kumarharsh commented on #52
@klis87 the `.gqlconfig` file is something *you* have to edit. To add support, modify the example gqlconfig file in the readme with a regex which would match your file. In this case, it'll be:

[code]

I'm not familiar with gqltools, but I don't think adding support for syntax-highlighting might not be trivial for this kind of code - this plugin will have to go through **every** template string in

[2017-11-02 19:15] klis87 commented on #52
@kumarharsh It is possible because gql tags for react-apollo client are highlighted, so doing the same for typeDefs must be also possible.

[2017-11-03 11:37] kumarharsh commented on #52
@klis87 - yes that is possible. But I feel like it can cause issues:

1. Is it guarenteed that users will always write:
[code]
and not:
[code]
or any other variation?

2. What if someone has to put two sets of graphql queries in a file? They can't use the `typeDefs` variable, because that's already used.
[code]

Granted, the `gql` and `Relay.QL` tags can also suffer from this problem:
[code]
but I

[2017-11-03 11:43] klis87 commented on #52
I agree with you that it might be dangerous to assume typeDefs convention. But would it be possible to make code highlighting configurable? for example as vscode setting like:
[code]

Then it would be flexible and everyone could set things up to a specific tools/frameworks.

[2017-11-03 12:12] kumarharsh commented on #52
I don't think vscode allows that. Because the syntaxes are defined in JSON, and the config file can't have a say in that. I think it'll be super hard to support it and still retain any amount of flexibility.

[2017-11-03 12:14] kumarharsh commented on #52
I found a related issue on VSCode pertaining to this: https://github.com/Microsoft/vscode/issues/130#issuecomment-325005190

[2017-11-03 12:45] klis87 commented on #52
Ohhh, pity. So there is nothing what could we do? Could we add `typeDefs` as hardcoded rule in graphql syntax or you would prefer not to?

[2017-11-03 19:30] kumarharsh commented on #52
I'd prefer to wait for a better solution to this, or if more people are interested, then maybe we can figure out an approach which works best.

One question: Do you use webpack in your code?

[2017-11-06 11:54] klis87 commented on #52
Ok, so let's wait, Thank you for custom gql tag, this would actually work :)

Btw, I guess this library won't work for dynamic types right? Which you set programatically. If that is so, would you consider adding ability to introspect schema from a graphql server endpoint? In a similar fashion like in [apollo-codegen](https://github.com/apollographql/apollo-codegen), which can generates flow types

[2017-11-06 12:50] kumarharsh commented on #52
Yes, that is one thing we might add (possibly). There is an [open issue for apollo support](https://github.com/Mayank1791989/gql/issues/28) in the gql library where you can give your inputs.

[2017-11-06 12:50] #52 closed

[2017-11-09 06:31] pyros2097 commented on #42
Schema files don't necessarily need to present in the file system it should also be able to be queried from the server. That way we don't need to generate a single gql file when we are stitching schemas using graphql-tools or using apollo.
https://github.com/Quramy/ts-graphql-plugin
They allow a path or a url,
[code]
It also seems like a simple flow. This will a real booster for apollo based proje

[2017-11-11 20:39] malexandre commented on #42
I agree with other that the gql dependency should be included inside the plugin. It's weird that I need to install a module in my project for an extension that my coworkers won't use because they are not all on VS Code.
Also, I think the `.gqlconfig` file's option should be options of the extension (options means it can be defined globally, per workspace, per user, etc.), for the same reason. Agai

[2017-11-13 03:24] jaydenseric commented on #40
The latest iteration is [`graphql-config`](https://www.npmjs.com/package/graphql-config) and `.graphqlconfig` files.

I already have a lot of other tools using it; I would consider using this package once `.graphqlconfig` is adopted. That, and when linting is removed and left to `eslint-plugin-graphql` ([#30](https://github.com/kumarharsh/graphql-for-vscode/issues/30)).

[2017-11-21 00:27] malbernaz opened #54 "graphql tag broken"
First of all thank you very much for your work on this extension, it's great!

I'm getting this problem when I try to assign a tag to a variable:

![screenshot](https://user-images.githubusercontent.com/10574149/33048105-6439dbfc-ce40-11e7-8ef5-ebd82a9d826a.png)

Strange think is that when I remove the space between the tag and the variable declaration it works:

![captura de tela 2017-11-20 as 22

[2017-11-23 19:31] #54 closed

[2017-11-23 19:33] malbernaz commented on #54
I'm closing this as I discovered that this issue has to do with another extension I was using (BabelES6/ES7)..

[2017-11-25 12:22] ozguruysal opened #55 "Syntax highlighting fails inside backticks"
If I have a space between the backtick and `default` keyword syntax highligting fails

![graphql-4-vscode-11](https://user-images.githubusercontent.com/53624/33230435-5f073528-d1f4-11e7-8a6c-c78cbe30db33.png)

If I remove the space all works nicely

![graphql-4-vscode-2](https://user-images.githubusercontent.com/53624/33230432-4a0afb14-d1f4-11e7-9456-ede99104fb59.png)

I can easily workaround this

[2017-11-27 00:10] sandangel opened #56 "string interpolation cause syntax error with type Int"
I have a request with dynamic inject Int value into it by string interpolation like so
![image](https://user-images.githubusercontent.com/22189661/33246004-f03f7d16-d352-11e7-88d7-b83009805a07.png)

With String type, there is no problem since it is wrapped in double quote (although there is no syntax highlighting with string interpolation but it show no error)

[2017-11-27 11:23] kumarharsh commented on #55
This extension isn't designed to highlight either of the cases you've presented, because it looks for the `Relay.QL` or `gql` tag before the template string to inject the syntax grammar. Might some other plugin be causing the highlighting?

[2017-11-27 11:53] kumarharsh commented on #55
Unfortunately, it's not easy to do this. See [this issue](https://github.com/kumarharsh/graphql-for-vscode/issues/52) for details. And this comment addresses why it's not a viable solution: https://github.com/kumarharsh/graphql-for-vscode/issues/52#issuecomment-341680577

You can use the workaround [given here](https://github.com/kumarharsh/graphql-for-vscode/issues/52#issuecomment-341804118) to g

[2017-11-27 11:53] #55 closed

[2017-11-27 12:02] ozguruysal commented on #55
I'm not using `gql` tag and if you write the schema this way it's always guaranteed that it'll start wih `export default`. So the issue is different than mine. But thanks anyways.

[2017-11-27 12:03] kumarharsh commented on #56
Thanks for the report. @Mayank1791989 would you have a look?

[2017-11-27 12:33] kumarharsh commented on #55
The core of the issue is the same:

The editor doesn't know – and there's no easy way to inform the editor (that I know of) – that **all** text starting with `export default` would be only gql. So, either the plugin will have to treal **all** exported text as graphql text, or not highlight anything. I've chosen the safer option in this plugin to avoid confusion.

The tagged-template literal approa

[2017-11-27 14:02] Mayank1791989 commented on #56
@sandangel for dynamic values you should use graphql variables.
[code]

[2017-11-27 14:35] sandangel commented on #56
you mean that string interpolation is not a valid use case?

[2017-11-27 14:47] Mayank1791989 commented on #56
For static validation of queries its better to avoid interpolation. Currently parser only support interpolation in few places like fragment interpolation for relay-classic client and query interpolation for apollo client.

[2017-11-27 15:03] sandangel commented on #56
Thanks. I will close this issue but I hope that you could improve support on string interpolation later, because I think it's shorter and more elegance than using variables

[2017-11-27 15:03] #56 closed

[2017-12-04 21:45] aneilbaboo opened #58 "Schema syntax highlighting doesn't work when extension something other than ".gql""
(Moved to this repo from https://github.com/Mayank1791989/gql/issues/77)

How can I get syntax highlighting for schema files with extensions other than ".gql"?

For example, https://github.com/sysgears/apollo-universal-starter-kit has schema files named `schema.graphqls`.

I expected the following .gqlconfig file to work. The file is recognized (I get documentation popovers, which I'm unable to sc

[2017-12-05 06:27] kumarharsh commented on #58
The syntax highlighting is defined via the `grammars` key in the package.json file of the plugin - this is a static definition and thus cannot be loaded dynamically by reading your .gqlconfig.

But turning on syntax-highlighting for your own graphql files is very simple:
1. Open the file you want to turn on syntax highlighting for.
2. <kbd>Ctrl+P</kbd> > **Change Language Mode** > Select **GraphQL

[2017-12-05 07:24] kumarharsh opened #59 "Add pre-commit checks for adhering to conventional-changelog"
From this comment: (https://github.com/kumarharsh/graphql-for-vscode/pull/50#issuecomment-341147679):

[2017-12-05 07:25] #59 closed

[2017-12-05 07:28] kumarharsh commented on #58
Closed by 4a7568c

[2017-12-05 07:28] #58 closed

[2017-12-07 18:45] Mayank1791989 commented on #1
@ntziolis  plz share plugin output.

[2017-12-07 18:59] ntziolis commented on #1
[code]

[2017-12-07 19:35] kumarharsh commented on #1
The syntax highlighting might notbe working due to interference with some other plugin. Can you disable some of them and check?

[2017-12-07 19:48] Mayank1791989 commented on #1
@ntziolis enable plugin debug mode  (`grahqlForVSCode.debug: true`) then restart vscode and share plugin output. Is autocomplete working in your query src/**/*.graphql files?

[2017-12-08 21:26] ntziolis commented on #1
I took some time to setup a clean project + disabled all extension besides graphql for vscode. Here is my status and current issues:
- .graphql files
  - linting working for fragments, queries, mutations AND subscriptions
     - this means that the schema is properly wired up
  - typeahead working only after specifying either fragments, query or mutation manually
  - **incorrect typeahead for subs

[2017-12-09 08:38] Mayank1791989 commented on #1
@ntziolis Looks like issue with gql tags is fixed. Did you figure out why it was not working previously?

It's a bug in gql lib. I have created an issue for that https://github.com/Mayank1791989/gql/issues/78.

gql currently does not properly support subscriptions see issue https://github.com/Mayank1791989/gql/issues/79

[2017-12-10 05:21] DogsForArms opened #60 "trouble getting it working"
Hello!  I am very excited to use this plugin but after following the installation instructions very closely I am still not able to get my vsc autocompletion for my gql`` queries.

I have noticed that my schema.gql is working right with autocompletion/errors/jump to definition.  But, in my client gql`` style queries do not autocomplete or error check - however their colors look right.

my .gqlconfi

[2017-12-10 06:05] DogsForArms commented on #60
Of course it started working by itself right after I posted :) Probably I just needed to restart VSC.

[2017-12-10 06:05] #60 closed

[2017-12-10 12:21] babbarankit opened #61 "Using it with inline Tags or .graphql"
I am creating a **GraphQL Sever using TypeScript.**
I wish to highlight the syntax in VSCode, which I write for my sever code.
I am not sure how to do it?
I have spent many hours, still I am clueless.

Ques-1) Is it required to create .gql file or syntax can be highlighted in .ts file
Ques-2) _(if inline tags are possible)_ What Configuration is need to do possible in .ts file
 this.defs = `

[2017-12-10 18:45] kumarharsh commented on #1
Boom! 🎉 These issues are fixed in latest release. Please update your gql library to the latest version and give it a go.

[2017-12-15 10:52] ntziolis commented on #1
@Mayank1791989 @kumarharsh Wow, didnt expect a 2 day turnaround. THANK YOU.

In regards to install issues, I will update if I stumble again, but to be honest initially it might have been that I was testing some of the non supported cases unaware they were not supported.

[2017-12-18 10:28] #61 closed

[2017-12-21 10:34] FezVrasta commented on #1
the template literals highlighting isn't working for me, do I have to do anything special?

I have `@playlyfe/gql` installed globally, and the config set to`"graphqlForVSCode.nodePath": "~/.config/yarn/global/node_modules"`.

I also have the `.gqlconfig` file in my project folder (under `/apps/web/.gqlconfig`).

The `.gql` files are highlighted.

[2017-12-21 12:08] kumarharsh commented on #1
Can you share a file which is not working? I'd like to take a look.

[2017-12-21 12:10] FezVrasta commented on #1
any file, even ones with just

[code]

[2017-12-21 12:17] kumarharsh commented on #1
I'm getting it highlighted properly:

![image](https://user-images.githubusercontent.com/760112/34255465-d20b6800-e676-11e7-88ef-0ef65d6b95e9.png)

What language is set for the file?
Can you also try to turn off some other plugins - I've been told that there are some plugins which interfere with this one's highlighting.

[2017-12-21 12:19] FezVrasta commented on #1
I tried with "Javascript" and "Javascript React", I haven't any plugin I could simply turn off without lose anything I use daily, I think the extension should play nicely with the other extensions, otherwise it doesn't make much sense to me.

[2017-12-21 12:23] kumarharsh commented on #1
Yes, I agree. I just want to get more information so that I can trace which part is conflicting. Can you disable all extensions, and then enable only this one, and do a "Reload Window"?

![image](https://user-images.githubusercontent.com/760112/34255639-9c299fa8-e677-11e7-8190-643e7f691e7d.png)

![image](https://user-images.githubusercontent.com/760112/34255656-b1a3377c-e677-11e7-84ac-916d42874a73

[2017-12-21 12:28] FezVrasta commented on #1
I reinstalled and configured it, with all the extensions disabled, the minimal example works, but any other file in my project still misses the syntax highlight.

It looks like the syntax doesn't work if I provide the second argument to `graphql`:

[code]

[2017-12-21 12:29] kumarharsh opened #62 "Syntax Highlighting Issues"
the template literals highlighting isn't working for me, do I have to do anything special?

I have `@playlyfe/gql` installed globally, and the config set to`"graphqlForVSCode.nodePath": "~/.config/yarn/global/node_modules"`.

I also have the `.gqlconfig` file in my project folder (under `/apps/web/.gqlconfig`).

The `.gql` files are highlighted.

[2017-12-21 12:31] kumarharsh commented on #62
Can you share a file which is not working? I'd like to take a look.

[2017-12-21 12:31] kumarharsh commented on #62
any file, even ones with just

[code]

[2017-12-21 12:31] kumarharsh commented on #62
any file, even ones with just

[code]

[2017-12-21 12:32] kumarharsh commented on #62
@FezVrasta

I tried with "Javascript" and "Javascript React", I haven't any plugin I could simply turn off without lose anything I use daily, I think the extension should play nicely with the other extensions, otherwise it doesn't make much sense to me.

[2017-12-21 12:32] kumarharsh commented on #62
Yes, I agree. I just want to get more information so that I can trace which part is conflicting. Can you disable all extensions, and then enable only this one, and do a "Reload Window"?

![image](https://user-images.githubusercontent.com/760112/34255639-9c299fa8-e677-11e7-8190-643e7f691e7d.png)

![image](https://user-images.githubusercontent.com/760112/34255656-b1a3377c-e677-11e7-84ac-916d42874a73

[2017-12-21 12:32] kumarharsh commented on #62
I reinstalled and configured it, with all the extensions disabled, the minimal example works, but any other file in my project still misses the syntax highlight.

It looks like the syntax doesn't work if I provide the second argument to `graphql`:

[code]

[2017-12-21 12:33] kumarharsh commented on #1
Conversation moved to https://github.com/kumarharsh/graphql-for-vscode/issues/62

[2017-12-21 12:38] kumarharsh commented on #1
This extension does support gql tag. If you're not getting syntax highlighting, or have problems with autocomplete or go-to-definition, look through newer issues and add your voice there, or raise a new issue. This issue is very old, and discussion is tending to go off-track or notify older participants.

[2017-12-21 12:52] kumarharsh commented on #62
So, you're saying that if your remove the last two lines, the highlighting **is** working?
That's odd :/ Which theme are you using?

[2017-12-21 12:53] FezVrasta commented on #62
It's enough to remove this:

[code]

I'm using City Lights as theme

[2017-12-21 12:56] kumarharsh commented on #62
Can you share the theme URL? I can't find it via VSCode's search

[2017-12-21 12:56] FezVrasta commented on #62
http://citylights.xyz/

[2017-12-21 13:11] kumarharsh commented on #62
Seems to be working for me without any hiccup:

![gif](https://user-images.githubusercontent.com/760112/34257004-fcd08afa-e67d-11e7-925f-23daa941ca2b.gif)

(don't focus on the bracket colours - they are from bracket pair colorizer)

Can you do an `Inspect Scopes` in your code to see the scopes being applied to your graphql code within the `gql` tag? Share some screenshots of the scopes too.

![ima

[2017-12-21 13:13] FezVrasta commented on #62
![image](https://user-images.githubusercontent.com/5382443/34257184-09ab3e98-e659-11e7-842b-01b22821a85d.png)
![image](https://user-images.githubusercontent.com/5382443/34257193-12ff9386-e659-11e7-8c1e-aec3cc536414.png)

[2017-12-21 13:17] FezVrasta commented on #62
![noidea](https://user-images.githubusercontent.com/5382443/34257291-8e7527f6-e659-11e7-92ad-861976ad9df6.gif)

now it's behaving differently than before.... even without the second argument it doesn't work as soon I indent it.

It may be just me, but this extension doesn't look that stable to me 😔

[2017-12-21 13:18] kumarharsh commented on #62
Wow, the plugin hasn't even activated (notice - there is no graphql scope injected). Are you on an insider build of vscode?

[2017-12-21 13:22] kumarharsh commented on #62
If you rename `graphql(` to `zraphql(`, does the highlighting work?

[2017-12-21 13:26] FezVrasta commented on #62
Unfortunately I have already deleted the test file and now that I created it again the problem I showed in the gif doesn't reproduce anymore... But I have this now:

![noidea2](https://user-images.githubusercontent.com/5382443/34257637-fedb6a9a-e65a-11e7-8a26-b8bfdb1517a6.gif)

[2017-12-21 13:30] FezVrasta commented on #62
And also this:

![noidea3](https://user-images.githubusercontent.com/5382443/34257754-6f177a9c-e65b-11e7-9c1f-c8e5c7266566.gif)

[2017-12-21 13:36] kumarharsh commented on #62
Thanks for all the effort @FezVrasta, and it sucks that the extension is not working well for you. It's extremely odd and unexpected :-/

I'll keep looking for a way to reproduce it on my machine. Maybe there's some bug with vscode too, but we'll not know that until we can get a reproduction.

Can you share your OS, Vscode Build number (Help > About > Copy), and list of currently installed extensi

[2017-12-21 13:37] FezVrasta commented on #62
iMac (Retina 5K, 27-inch, Late 2014)
macOS High Sierra 10.13.2 (17C88)
VSCode 1.19.1 (1.19.1) - 0759f77bb8d86658bc935a10a64f6182c5a1eeba

[code]

[2017-12-21 20:35] Mayank1791989 commented on #62
The problem is in plugin _dzannotti.vscode-babel-coloring_. Please remove (or disable) plugin to fix your issue. If you want es6|es7 support use [sublime-babel ](https://github.com/joshpeng/Sublime-Babel-VSCode) plugin instead.

[2017-12-22 03:12] kumarharsh commented on #62
@fezvrasta can you confirm if this works?

[2017-12-22 06:38] kumarharsh commented on #62
I can confirm that the vscode-babel-coloring plugin is the one causing issues:

With vscode-babel-coloring:
![gif](https://user-images.githubusercontent.com/760112/34287981-924410e2-e710-11e7-8bb2-346c9f8a80e2.gif)

With sublime-babel:
![gif2](https://user-images.githubusercontent.com/760112/34288017-d28e8c22-e710-11e7-82c0-b2a3354d9f4a.gif)

[2017-12-22 09:23] FezVrasta commented on #62
Yes, it seems to work fine now, thanks.

[2017-12-22 10:28] kumarharsh commented on #62
Glad to hear it. I'd recommend using sublime-babel as it's the most full-featured one for vscode (till now). The vscode-babel plugin hasn't been updated for a long time.

[2017-12-22 10:28] #62 closed

[2017-12-22 23:47] jlengstorf opened #63 "Support new description syntax"
As of [v0.12.0](https://github.com/graphql/graphql-js/releases/tag/v0.12.0), field descriptions need to be represented as strings rather than comments.

That means that the following schema:

[code]

Needs to be rewritten as:

[code]

Syntax highlighting should be updated to reflect the string type; right now it looks pretty wonky.

<img width="573" alt="screencap-by-jlengstorf 26" src="https://us

[2017-12-30 15:00] schickling commented on #40
@kumarharsh any progress on supporting `graphql-config`? (We're currently recommending people to use [vscode-graphql](https://github.com/stephen/vscode-graphql) until graphql-for-vscode supports graphql-config.)

[2018-01-06 14:09] kumarharsh commented on #40
@schickling sorry, have been on vacation. I'll have something to say about it this week.

[2018-01-07 16:08] kumarharsh commented on #63
@jlengstorf thanks for the issue. Support for the new description syntax is in the latest release.

[2018-01-07 19:48] tgriesser commented on #63
@kumarharsh Nice! was there a new release cut with this change, or is that still forthcoming?

[2018-01-08 01:54] kumarharsh commented on #63
Yes, there was a new release.

[2018-01-08 19:01] tgriesser commented on #63
I'm having trouble finding it. It seems to be missing on the [github releases tab](https://github.com/kumarharsh/graphql-for-vscode/releases) and it's not showing up under "More Info" on the [vscode project](https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode).

[2018-01-09 19:09] kumarharsh commented on #63
Yeah, it's stuck in publishing - apparently my Visual Studio Publish Token had expired and I'm weirdly locked out of the account from which the token was generated. I'm working to get things working again.

[2018-01-10 12:31] kumarharsh commented on #63
Hi, I'm still not able to restore the publishing process and working on it.

Please try out this release, and let me know if things work fine:
https://1drv.ms/u/s!ArGqE3U0XhYmu5BCpISKDIQgbuMo9g

[2018-01-10 13:37] tgriesser commented on #63
Yep, this works great. Good luck figuring out the publishing process 😕

[2018-01-10 13:45] kumarharsh commented on #63
Yeah, it's a rabbit hole of accounts and permissions and what not 😟

[2018-01-11 00:33] jlengstorf commented on #63
@kumarharsh I installed from the VSIX and it doesn't appear to support the string syntax:

<img width="775" alt="screencap-by-jlengstorf 49" src="https://user-images.githubusercontent.com/163561/34802706-a525f666-f634-11e7-8b2d-1354ca64df43.png">

Is there a setting I need to tweak?

[2018-01-11 00:35] jlengstorf commented on #63
I believe this may be my fault, because I didn't include the single-line string syntax in the example above. Sorry about that! 😕

[2018-01-11 03:35] tgriesser commented on #63
Ah yeah, it seems as though the [triple quote](https://github.com/graphql/graphql-js/blob/9b0d9ac5589cb5c70d53a0c9d6e60feca9c895b7/src/utilities/__tests__/buildASTSchema-test.js#L104) and [single quote](https://github.com/graphql/graphql-js/blob/9b0d9ac5589cb5c70d53a0c9d6e60feca9c895b7/src/utilities/__tests__/extendSchema-test.js#L138) should both be supported as valid single line descriptions - I

[2018-01-11 03:52] kumarharsh commented on #63
I misread the linked issue and spec, they do state "any leading string".

[2018-01-16 00:00] felixfbecker commented on #42
My proposal would be:
- Replace watchman with chokidar
- Like all lint extensions (e.g. eslint), if gql is installed locally or the path is configured, use that, otherwise use the bundled version.

This should work out of the box if possible. Currently there are too many things that could cause a configuration to not work, which makes it really hard to ensure everyone on a team has a working setup

[2018-01-16 07:43] kumarharsh commented on #42
Thanks for the inputs.

Most of the work for this is done - we'll be releasing a new version soon-ish.
1. watchman will be optional and configurable, with an option to use a nodejs based watcher (details are being sorted out)
  1a. I would also point out that preliminary usage shows that watchman is more efficient than the node-based watchers - especially for larger projects. Will give an update w

[2018-01-19 01:20] kabytaa opened #66 "Support custom directives"
Hi,

I am not sure if there is a support for custom directives or i'm doing something wrong.
I have this code:

[code]
And i get this error:

How i can fix it?

BTW: Awesome extension.

Thanks

[2018-01-19 04:27] Mayank1791989 commented on #66
Please share your .gqlconfig file.

[2018-01-19 09:51] Trellian commented on #42
@Mayank1791989 Sorry to be the one that asks, but... do you have an ETA on the arrival of v3.0?

[2018-01-19 13:56] kabytaa commented on #66
my .gqlconfig file
[code]

I tried to change the file for following json and it stoped to show me the error.

[code]

what is the problem with the previous file?

Thanks

[2018-01-19 14:30] kumarharsh commented on #66
The previous file is an example file - meant to show how to configure your project.

The errors have stopped because the linting has stopped. You need to specify the `query` config depending on the files you want linting, autocomplete, etc to be activated for.

For example, to enable linting, etc for *.gql and *.js files, write this:

[code]

[2018-01-19 17:00] Mayank1791989 commented on #66
[code]
The above .gqlconfig file is fine if you are using plugin for schema files only but if you want to support queries (using apollo, relay or other any other client) than you need to add 'query' in .gqlconfig.

It stopped showing error as currently in schema directive validation is not done (I have created an issue
see here https://github.com/Mayank1791989/gql/issues/93).

But with other confi

[2018-01-26 06:44] kumarharsh commented on #66
I believe this has been resolved @kabytaa?

[2018-01-26 06:44] #66 closed

[2018-02-04 17:49] #63 closed

[2018-02-05 12:48] kumarharsh opened #67 "Release process is broken"
The semantic-release package has some breaking changes which need to be fixed to get release working again.

Ref: https://github.com/semantic-release/semantic-release/blob/caribou/docs/usage/configuration.md#configuration

[2018-02-05 15:07] kumarharsh opened #68 "gherkin syntax highlighting still broken"
After the first graphql request is highlighted, the colouring breaks.

![image](https://user-images.githubusercontent.com/760112/35811431-7a3f787a-0ab4-11e8-81d3-132d5a5b4132.png)
...
![image](https://user-images.githubusercontent.com/760112/35811393-5dc2eae2-0ab4-11e8-960d-158ddc5b474c.png)

[2018-02-05 20:40] jlengstorf commented on #63
@kumarharsh Thanks for updating this! Is there a link to the new release and/or an ETA for it landing in the VS Code marketplace?

[2018-02-06 11:51] kumarharsh commented on #63
Yes, it should be there now.

[2018-02-07 16:56] kachkaev commented on #62
Is syntax highlighting expected to work with comment-prefixed strings?

[code]

Used to have this [working](https://github.com/gandm/language-babel#graphql-code-highlighting) in Atom with language-babel package.

[2018-02-07 17:14] kachkaev opened #69 "support /* GraphQL */ among other patterns"
When trying VSCode after Atom, I noticed that not all graphql scheama definitions are correctly found. Here's the one I struggled with:

[code]

I guess this can be fixed by tweaking `begin` in `syntaxes/graphql.js.json`, which currently [equals to](https://github.com/kumarharsh/graphql-for-vscode/blob/3d6028b45fadfd1f89741bff307ce3fb28040a51/syntaxes/graphql.js.json#L8):

[code]

In Atom's [langu

[2018-02-07 19:53] kumarharsh commented on #69
It can be done, but I'm not entirely convinced of the usecase for this? Do you use this kind of definition in your code? Also, you can still trigger highlighting by adding a `#graphql` just after the opening backtick:

[code]

[2018-02-07 20:04] kachkaev commented on #69
Thanks for hinting on ``export default `#graphql``! That's useful, but I guess it'd be still great to support `` /* GgraphQL */ ` `` too, at least because it's already supported by the Atom's package. Others switching to vscode may have similar expectations and get confused as well.

I've seen `` /* GgraphQL */ ` `` in a few places around github and I guess its' a convention of some sort (perhaps,

[2018-02-09 05:21] holmesal commented on #60
Dogs for arms! Dogs for arms!

[2018-02-09 08:19] kumarharsh commented on #60
@holmesal what?

[2018-02-13 22:34] cjhowe7 opened #71 "Support empty GraphQL types"
I believe this is officially supported in graphql-js. This is what happens when you use an empty type currently with this extension:

<img width="238" alt="screen shot on 2018-02-13 at 17_20_26" src="https://user-images.githubusercontent.com/29269679/36177516-ef29b4cc-10e3-11e8-91dd-11c183e9e9a9.png">

Not only does it highlight incorrectly, it causes highlighting afterwards to be broken. It shoul

[2018-02-13 22:39] cjhowe7 opened #72 "Support GraphQL extends syntax"
This is a syntax commonly used with Apollo. I believe all that is required for this is to add the `extend` keyword. I don't think this is officially part of GraphQL. This is how it looks now:

<img width="302" alt="screen shot 2018-02-13 at 5 37 45 pm" src="https://user-images.githubusercontent.com/29269679/36177727-a393198a-10e4-11e8-830e-fea598f8488f.png">

Ideally the `extend` keyword is highli

[2018-02-13 22:45] cjhowe7 commented on #69
Note that `/* GraphQL */` is also used by the [VSCode equivalent of the language-babel package](https://github.com/michaelgmcd/vscode-language-babel).

[2018-02-14 00:54] cjhowe7 commented on #71
Based on the linked commit I think I may be able to submit a PR for this. Looks like the syntaces are very similar.

[2018-02-14 08:47] kumarharsh commented on #72
Thanks for the issues, much appreciated. I'd work on these on the weekend (_hopefully_). Would be great if you can send a PR if you want the support sooner.

[2018-02-14 14:33] bmayen opened #73 "Support for introspected schemas?"
Would like to use this for autocompletion of queries and fragments in our frontend repo, but as far as I can tell, that's not possible unless the backend code is colocated. Am I understanding this correctly?

We're using apollo-codegen to introspect a schema from another repo. Is there any way to use codegen's output `schema.json` here instead of requiring direct access to schema files in a separa

[2018-02-14 18:07] Mayank1791989 commented on #73
No colocation is not required you can use printed schema.

Instead of generating ```schema.json``` generate ```schema.graphql``` and in .gqlconfig use path of generated file. If you are using apollo-codegen then use print-schema option to generate schema.graphql file.

[2018-02-14 19:23] bmayen commented on #73
Ah, thanks for the feedback. This works perfectly.

[2018-02-14 19:23] #73 closed

[2018-02-15 19:42] bmayen commented on #42
Watchman also seems to be a blocker for setups on WSL. VSCode is running on Windows but node_modules is installed under WSL. In this case I'm getting "Watchman was not found in PATH" and server closes.

Any workaround for this in the meantime?

[2018-02-16 04:50] kumarharsh commented on #42
You can install watchman too under WSL .

[2018-02-16 14:29] bmayen commented on #42
yep, I have it installed under WSL, but there seems to be an issue with VSCode running on Windows while watchman is under WSL.

[2018-02-19 15:39] cjhowe7 commented on #69
Another reason to support this is that prettier will format this:

[code]

to this:

[code]

which will break highlighting. This makes it a non-option for prettier users. The comment form doesn't have this issue.

[2018-02-19 17:14] kachkaev commented on #69
I just assembled a [PR](https://github.com/kumarharsh/graphql-for-vscode/pull/74) for this while on a meeting :–)

All worked locally, but feel free to check the new RegExp more rigorously!

[2018-02-21 07:28] #69 closed

[2018-02-21 07:30] #71 closed

[2018-02-21 07:30] #72 closed

[2018-02-22 18:41] FredyC opened #77 "Syntax Error: Unexpected $ for interpolated fragments."
Honestly, I am not sure if the issue is with the extension or upstream, but looking at this [piece of code](https://github.com/Mayank1791989/gql/blob/master/src/query/_shared/Parsers/QueryParser.js#L67) in `@playlyfe/gql` it feels like it should be handled there properly. However, looking at [graphql.json here](https://github.com/kumarharsh/graphql-for-vscode/blob/master/syntaxes/graphql.json#L664

[2018-02-22 19:53] Mayank1791989 commented on #77
use v2.6.0

[2018-02-22 20:03] FredyC commented on #77
Duh! I could have tried that for sure seeing the interpolation is actually in the code :) You are absolutely right. Well, at least if someone else stumbles upon this issue, they will know the cure :) Thanks!

[2018-02-22 20:03] #77 closed

[2018-03-07 22:25] Grmiade commented on #63
I have this syntax error. Is not The new description syntax is not supported?
(I use the 1.9.0 version of the extension)

<img width="473" alt="capture d ecran 2018-03-07 a 23 22 43" src="https://user-images.githubusercontent.com/11244106/37121761-7b2e332c-225e-11e8-84c6-2fd4429fe30d.png">

[2018-03-08 13:46] tgriesser commented on #63
@Grmiade it's an issue with the `@playlyfe/gql` dependency - I opened a PR here https://github.com/Mayank1791989/gql/pull/111

[2018-03-08 13:48] tgriesser commented on #63
In the meantime, if you want to specify:
[code]
in your dependencies it should work. I'll keep that branch up until something gets merged upstream.

[2018-03-08 13:54] Grmiade commented on #63
Thanks @tgriesser, indeed it works 👍

[2018-03-22 09:58] kumarharsh commented on #68
Probably not - can't reproduce it locally.

[2018-03-22 09:58] #68 closed

[2018-03-22 10:14] jhalborg commented on #19
+1 for DateTime. Got my schema from working with graph.cool, as I imagine a lot of other GraphQL beginners are :-)

@kumarharsh - Is there any way to add these custom scalars at the moment? Sorry if I missed it

[2018-03-22 17:01] Mayank1791989 commented on #19
@jhalborg you can define all your custom scalars in new graphql file and add that to schema.files in config.

[code]

[2018-03-30 09:54] miaulightouch opened #82 "wrong comment highlight"
![default](https://user-images.githubusercontent.com/5199594/38133737-111d7500-3443-11e8-8bcf-8b9f1bdb9b35.PNG)

Expected:
triple quote should comment out all text that included.

Problem:
but it's not.

[2018-03-30 12:17] kumarharsh commented on #82
You can use single quotes for single-line descriptions and triple quotes for multi-line ones.

[2018-03-30 13:58] miaulightouch commented on #82
it's fetched from endpoint, maybe I may not have permission to ask them to use single quotes.

[2018-04-04 18:50] brentron9000 commented on #82
It seems triple quotes are the new standard for descriptions in ^graphql@0.12

[See here.](https://github.com/graphql-cli/graphql-cli/issues/182)

[2018-04-05 14:12] jackhkmatthews opened #83 "Linting error on comments"
## Expected Behaviour

Comments within GraphQL schemas to pass linting.

## Current Behaviour

Comments throw a `[graphql] Syntax Error: Unexpected String` error.

![screen shot 2018-04-05 at 15 08 21](https://user-images.githubusercontent.com/20629455/38371163-a843cd4a-38e3-11e8-88b6-39eebee78ced.png)

[2018-04-06 13:23] flakeparadigm opened #84 "Add support for template literal highlighting in .vue files"
I'm wanting to work with GraphQL in Vue single-file components, however the file extensions list for the template literal syntax does not include `.vue` files, only JavaScript and TypeScript files. Would you consider adding support for the Vue files as well?

[2018-04-06 14:37] flakeparadigm commented on #84
Sorry, after some experimentation and further exploration it turns out this appears to be an issue with VS Code and not this extension.

[2018-04-06 15:59] kumarharsh commented on #84
I'll have a look at your closed PR this weekend. Thanks for taking the time for the PR. You didn't modify the package.json file though - maybe that's why its not working?

[2018-04-06 23:03] flakeparadigm commented on #84
I should have added a reference to the issue that's causing this. Vetur actually designates the code block as JS (or TS) so in theory it should be automatic without having to change this extension.

https://github.com/vuejs/vetur/issues/701

[2018-04-07 00:03] flakeparadigm commented on #84
I hadn't looked at the `package.json`, though, and found that adding the `vue` type there makes it work! I'll go ahead and open the updated PR.

[2018-04-09 07:40] #84 closed

[2018-04-20 14:21] wesbos opened #87 "Comment Highlighting Broken"
I'm using Prisma and they generate the schema for us. One of the peices they generate has a comment like this:

[code]

That last comment is a bit weird and seems to be breaking highlighting.

Is this a valid graphql comment? GitHub seems to highlight it just fine, but this extension highlights it like this:

![](http://wes.io/r1V0/content)

This very well may be an issue with Prisma too, will ope

[2018-04-20 14:26] wesbos commented on #87
Just talked to @marktani from Graph Cool and he confirmed that it is valid GraphQL and pointed me at this issue:

https://github.com/graphql/graphql-js/issues/1285

So the highlighter needs to be fixed

[2018-04-20 14:43] kumarharsh commented on #87
Thanks for the report. Will push a fix over the weekend

[2018-04-20 14:44] wesbos commented on #87
:D Thank you so much

[2018-04-23 20:33] #82 closed

[2018-04-23 20:33] #87 closed

[2018-04-23 21:05] wesbos commented on #87
thank you! I didn't realize github goodfed it up too, but it doesn't make the rest of the content a comment like this issue did.

[2018-04-27 17:53] felixfbecker commented on #42
@kumarharsh are there any blockers left for releasing a new version we can help with?

[2018-04-27 18:30] felixfbecker commented on #46
This works for me now

[2018-04-27 22:07] capaj opened #88 "error [4] - Grammar is in an endless loop - Grammar is not advancing, nor is it pushing/popping whenever I open a graphQL file"
[code]

I get these errors whenever I open a graphql file. When I remove this plugin and open a file there are no such error.
kumar-harsh.graphql-for-vscode: 1.10.1
Version 1.22.2
Commit 3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9
Date 2018-04-12T16:34:44.222Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[2018-04-28 05:00] kumarharsh commented on #88
Can you share the file or a minimum reproducible example  the grammar is failing on?

[2018-04-28 09:13] capaj commented on #88
this is my schema graphql:
[code]

with this file I see the error once. With longer files there are more errors so I presume it is showing this error for every top level token? Maybe.

[2018-04-30 11:49] kumarharsh opened #89 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-30 12:00] kumarharsh commented on #89
Fixed.

[2018-04-30 12:00] #89 closed

[2018-04-30 12:02] kumarharsh commented on #88
I can't reproduce this error with the schema you provided, or with my own code either. Maybe some other plugin is interfering with the syntax highlighting? Can you share the list of installed plugins?

[2018-04-30 12:02] kumarharsh commented on #67
Fixed in 1e26a93

[2018-04-30 12:02] #67 closed

[2018-04-30 12:32] capaj commented on #88
it's a long one:
[code]

[2018-05-02 07:40] bradzacher opened #90 "Allow for different tag names"
The extension only colours graphql strings when they are template tagged with `gql`.

The `eslint-plugin-graphql` library lets you specify other tag types to work with different schemas.
For example, we have a schema for app A's API, and a schema for app B's API.

When writing queries, we can differentiate between them by renaming the `graphql-tag` import:
[code]

It'd be good if you added a confi

[2018-05-02 12:37] kumarharsh commented on #90
@bradzacher I don't think this will be possible. Syntax grammars are defined as static JSON files, and as far as I know, overriding them at run-time is not allowed by editors such as VSCode.

You can get syntax highlighting by writing the code as described here: https://github.com/kumarharsh/graphql-for-vscode/issues/69

[2018-05-02 12:37] #90 closed

[2018-05-03 11:55] kumarharsh commented on #25
Tracking https://github.com/graphql/graphql-language-service/pull/195

[2018-05-03 18:16] brentron9000 commented on #32
@kumarharsh looks like the spec changed again unfortunately, kind of annoying. They changed support for multiple interfaces to the following syntax:

[code]

As far as I can tell the extension only displays a warning on hover for the & character and doesn't break anything else atm.

[2018-05-04 04:10] kumarharsh commented on #32
There is a flag to enable support for older comma syntax. If your code isn't migrated yet, you can use that.

I'll push a fix for this soon.

[2018-05-04 09:27] kumarharsh commented on #90
Please note that validation, etc will still work well, only for syntax highlighting would you need to use the `#graphql` or `/* GraphQL */` inline comment style.

[2018-05-04 14:20] deklanw opened #92 "Handling duplicate "Query" and "Mutation" types"
I'm using a file structure which I believe is common. I have multiple files like "Post.graphql" and "User.graphql", each with their own distinct types. But, each also has a "Query" and "Mutation" type. I use merge-graphql-schemas to merge them together, which works fine functionally.

But, with this plugin I'm getting this linting error:

Similarly for "Mutation".

Aside from changing my structure

[2018-05-04 14:52] kumarharsh commented on #92
This would be addressed in the GQL plugin.

@Mayank1791989 this usecase is what you were talking about, no?

[2018-05-04 15:48] deklanw commented on #92
I thought that might be the case. Should I open this same issue over there?

[2018-05-04 18:08] Mayank1791989 commented on #92
We only support the official graphql spec and according to spec you can't have two type definition with same name. If you can change how you write graphql files then there are two options

1.  Use graphql schema extension (I dont know whether merge-graphql-schema supports it)
[code]
[code]
2) Write all your types in separate files but merge all query and mutation.
[code]
[code]
[code]
[code]

[2018-05-05 08:46] bradzacher commented on #90
I've started using the `/* GraphQL */` comment and it works fine.

[2018-05-05 16:41] deklanw commented on #92
It appears the first option doesn't work with merge-graphql-schema (or I'm doing something wrong). I opened an issue there.

The second option will do for now.

Thanks for the quick replies!

[2018-05-06 17:56] deklanw opened #93 "Server stopped -- no error"
I got everything working fine on my backend but the frontend configuration doesn't seem to be working. The plugin is showing "server stopped" and it doesn't seem to be matching any of my files for watching.

My setup is simple,
[code]
My file structure is like this:
![structure](https://user-images.githubusercontent.com/11601778/39676117-ef7ad688-5132-11e8-95a6-c409e7ab280f.PNG)

The output in the

[2018-05-07 21:50] deklanw commented on #93
`match: '/src/**/*.js',`
should be
`match: 'src/**/*.js',`

my mistake!

[2018-05-07 21:50] #93 closed

[2018-05-15 15:12] johannpinson commented on #87
Thinks @wesbos for the report and @kumarharsh for the fix
You rock guys! 👍

[2018-05-16 11:03] tomitrescak opened #94 "Validation does not work"
Hi, thanks for the wonderful extension. I followed your instructions and type navigation works and I have no errors in the console. Yet, I have no error checking and validation in my .gql files. Any idea how to debug this? I tries searching other issues to no avail.

[2018-05-16 11:13] tomitrescak commented on #94
Nevermind .. it work on save, not live edit. Sorry for chaos.

[2018-05-16 11:13] #94 closed

[2018-05-16 12:02] kumarharsh commented on #94
@tomitrescak thanks for using the plugin ❤

The extension only validates the files as they are **on disk**. The in-memory version of the files (which are unsaved) are not validated. This is because this extension relies on the `gql` library which uses `watchman` as the watching service. And by the very nature of it, watchman only works with files on-disk.

See https://github.com/Mayank1791989/gql/

[2018-05-16 23:31] tomitrescak commented on #94
Thanks for getting back to me. No worries, it as an AMAZING effort and works very well. The live edit would be a bonus, but I know that with integrating 3rd party sw it's always finicky.

[2018-05-31 08:55] albangiroux opened #97 "@playlyfe/gql doesn't work with newer version of "graphql": "0.11.7","
If the package.json use the latest version of graphql.js package, you have the following error:

[Info  - 10:42:06] NODE_PATH value is: xxxxxx
[Error - 10:42:08] Server initialization failed:
Request initialize failed with message: Cannot find module 'graphql/validation/rules/ArgumentsOfCorrectType'

Using "graphql": "0.11.7" fixed the problem...

[2018-05-31 11:48] kumarharsh opened #98 "Investigate whether custom grammar support"
Bumped into this: https://github.com/gandm/language-babel/blob/d7d260522eb0f6528ea8558beb1bda54c5d25eba/src/create-ttl-grammar.js

Atom gives you a way to load a custom grammar file via their API. Investigate whether VSCode exposes something similar. If yes, it can solve #90 and #52

[2018-05-31 11:49] kumarharsh commented on #97
It should work with versions below 0.13. We are working on getting better support for all graphql versions soon.

[2018-05-31 16:24] janbaykara opened #99 "Introspection file support"
It'd be groovy if this optionally took a { schema: { file: 'schema.json' } } introspection file.

[2018-06-05 15:17] cgatian commented on #99
Looks like [this extension](https://marketplace.visualstudio.com/items?itemName=stpn.vscode-graphql) does the job

[2018-06-06 13:19] nfantone commented on #92
@kumarharsh Has this been already "addressed" by the GQL plugin as mentioned some months back now?

This is still a detrimental issue that doesn't play well with a common pattern.

[2018-06-07 11:56] janbaykara commented on #99
Yeah, I couldn't get that to work...

[2018-06-11 12:07] covertbert opened #105 "Triple quote comments in schema break syntax highlighting"
I appreciate this has been discussed before but it doesn't seem as if it's fixed. Unfortunately I can't just change the way I comment because I don't control the schema

<img width="591" alt="screen shot 2018-06-11 at 1 08 22 pm" src="https://user-images.githubusercontent.com/8471383/41230615-59fe3f84-6d78-11e8-96f4-3291f31c97a0.png">

[2018-06-11 13:34] kumarharsh commented on #105
<del>(╯°□°）╯︵ ┻━┻) </del>

I'll have a look! Thanks for the report. 😊

[2018-06-11 13:47] covertbert commented on #105
Haha no worries, thanks for responding so quickly 😄

[2018-06-15 02:13] chrismwendt commented on #42
Any update on this?

[2018-06-15 09:51] kumarharsh commented on #42
Its mostly done - one issue with the automated setup that we explored was to use a node-based watched for people who don't want to use watchman. But during the course of development, we found that there no no watched which provides bullet-proof watching capabilities cross-platform - even VSCode is using three different watchers(!) we just need to sort some stuff around that.

[2018-06-15 18:13] felixfbecker commented on #42
@kumarharsh what is the problem with `chokidar`? It is used by many popular cross-platform tools, e.g. Gulp

[2018-06-17 16:25] rankun203 opened #106 "How to deal with remote schemas?"
When writing GraphQL Schemas, we use a _.gql_ file to enable highlighting and auto completing. But if there are other services exposes a graphql schema, we currently do not have a way to reference it in our _*.gql_ files, how can we do that? For letting current project remote schemas don't report errors.

[2018-06-18 18:38] felixfbecker commented on #42
@kumarharsh despite that, many tools work just fine with chokidar. How about using watchman when it is available and falling back to chokidar?

[2018-06-29 00:49] bradleyayers commented on #46
Is it supposed to work when you have multiple `.gqlconfig` files (e.g. one in each workspace directory)?

[2018-06-29 15:33] VojtechStep commented on #106
Not sure if this is of any help, but take a look at [graphql-cli](https://github.com/graphql-cli/graphql-cli). It lets you fetch remote schema and save it to a file with this command:
[code]

I don't work with the `.gql` files ever, but I suppose you can then reference this exported file?

[2018-06-30 13:54] kabytaa commented on #66
Yes, it solved, Thanks to @Mayank1791989.

[2018-07-04 07:43] FredyC commented on #105
Yea, this is apparently a new way for having comments in SDL which allows for multiline more easily. There is a more information in https://github.com/facebook/graphql/pull/327 and https://github.com/facebook/graphql/pull/90#issuecomment-254982123

[2018-07-13 20:30] pie6k commented on #99
Is there any update about it? I'd like to keep with this extention.

[2018-07-15 21:24] Rulsky opened #108 "how to properly define graphQL types in `.js` files"
I use apollo's [graphql-tools](https://github.com/apollographql/graphql-tools) for my my graphql backend and types are defined in `.js` files.

For example:
[code]

but I get syntax errors from your tool.
So how to properly define types to be compatible with your tool?

[2018-07-25 14:31] zvirja commented on #83
@kumarharsh Could you please clarify the status of this issue? Do we have any workaround for it? It's pretty annoying, as currently we use `graphql-cli` to generate the schema files and need to manually post-process files so that extension parses it... 😟

Thanks.

[2018-07-26 07:48] kumarharsh commented on #83
Thank you for your inputs. I understand your pain and annoyance. This issue directly depends the release of the gql v3 (which supports the newer graphql versions). Discussion for which is on #42. Good news is that @Mayank1791989  has made significant progress on the watcher front for the gql library which this plugin depends on. Once that is completed, we will go ahead with a new release which wil

[2018-07-29 08:53] Mayank1791989 commented on #108
@Rulsky Currently we do not support schema in js files.  I have created an  [issue](https://github.com/Mayank1791989/gql/issues/144) in @playlyfe/gql for this.

For now you have to generate ```schema.graphql``` file.

[2018-07-29 08:53] #108 closed

[2018-07-29 09:03] Mayank1791989 commented on #99
see issue https://github.com/Mayank1791989/gql/issues/65

[2018-07-29 09:03] #99 closed

[2018-07-29 09:08] Mayank1791989 commented on #40
see issue https://github.com/Mayank1791989/gql/issues/90

[2018-07-29 09:08] #40 closed

[2018-07-29 17:24] harleyguru opened #110 "The critical crash"
When I open .gql file in root directory, I get this error:
[code]

This was working well for some months, but after I restart my mac, it has been broken..
Watchman & @playlyfe/gql have been installed successfully and confirmed they are working successfully.

After I install @playlyfe/gql package via nvm/npm, this is happening.

[2018-07-29 19:41] kumarharsh commented on #110
Which version of `@playlyfe/gql` do you have installed currently?

[2018-07-29 19:52] harleyguru commented on #110
@kumarharsh First off, thanks for your quick response.
I've fixed the issue, it's strange.
Same .gqlconfig was working earlier, but it didn't work any more this time.
So I've removed js parsing config from it.
Then it worked.
You can close it.

[2018-09-12 14:03] IllusionElements opened #112 "Syntax highlighting broken for directives + implementing an interface"
Just a minor problem really, but I don't seem to be getting any syntax highlighting for a type declaration when it implements an interface.

![example](https://user-images.githubusercontent.com/7991461/45430314-213de980-b673-11e8-8409-f069e148ef33.PNG)

[2018-09-14 21:59] pflugs30 opened #113 "Syntax highlighting not displaying on Windows 10"
OS: Windows 10 Home Edition version 1083
VS code: 1.27.2
GraphQL for VSCode: 1.12.1

I've installed GraphQL for VSCode on two of my dev machines.  On my desktop running Windows 7, the extension installed and needed no configuration in order to display syntax highlighting and the other features like go-to-definition.  On my laptop running Windows 10 Home edition, the extension installed but does no

[2018-09-15 07:31] kumarharsh commented on #113
Syntax highlighting doesn't have anything to do with watchman. Most probably it's happening because you'd have installed a different JS syntax highlighting plugin which might be old... Please install this extension: https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel

And ensure that the watchman binary is in your path when you start vscode.

[2018-09-15 11:27] pflugs30 commented on #113
Hi @kumarharsh, thanks for the reply.  I confirmed Watchman was in the PATH when VSCode was started (ran `watchman --version` in a command prompt).  I also installed the extension you recommended, but it didn't make a difference in the highlighting.  Also, through the User Settings, I added `"graphqlForVSCode.debug": true`, but I am not seeing any logs.

To clarify, I'm seeing _some_ highlighting:

[2018-09-15 12:53] pflugs30 commented on #113
Update:
- I also tried adding the `@playlyfe/gql` package manually to my project by running `yarn add @playlyfe/gql --dev`.
- I added a setting to the Workspace settings: `"graphqlForVSCode.nodePath": "../data-api/node_modules"` (since I have three folders in my workspace).
- I added a file named `.gqlconfig` containing:
[code]

After restarting VSCode, I saw a new log for **GraphQL for VSCode** i

[2018-09-17 11:36] kumarharsh commented on #113
@pflugs30 the syntax highlighting part should work **without any setup**. You just install this plugin and it should work. Since it's not working, can you try disabling all plugins and just enable this plugin and Language Babel and then restart VSCode, and then see if highlighting works? If it does, then enable other plugins one by one. It's possible there is some conflict with another plugin.

[2018-09-17 13:31] pflugs30 commented on #113
Hi @kumarharsh,

I did as you suggested and disabled all extensions except Babel Javascript and GraphQL for VSCode.  Sadly, it didn't change anything.  I'm still seeing only comments and type/enum keywords highlighted.  I'm not sure what else I try... :-)

[2018-09-17 17:05] kumarharsh commented on #113
Can you change the extension to .gql and see if it works?

[2018-09-17 18:13] pflugs30 commented on #113
no difference.  Note: when I tested, I did not have a `.gqlconfig` file in the workspace.

[2018-10-04 23:17] mogarick opened #115 "getting "graphql language server has stopped" message"
I installed this plugin and then gql (`yarn --dev add @playlyfe/gql`)
Then I created a simple index.js file for a graphql tutorial but the VSCode plugin is not woking.
I'm getting an error indicator:
![screen shot 2018-10-04 at 6 06 43 pm](https://user-images.githubusercontent.com/4414145/46507885-68e20c00-c800-11e8-8526-ebf928d9a52c.png)
when hover on it the next message displays:
"Graphql langua

[2018-10-05 05:00] kumarharsh commented on #115
Have you installed watchman?

[2018-10-05 12:47] mogarick commented on #115
It's globally installed.
[code]

[2018-10-08 19:44] kumarharsh commented on #113
@pflugs30 sorry for getting back to you late, but I think I figured out what's wrong. Are you using the `Dark` theme of VSCode? This is the only possible explanation I can think of which would cause this issue. This is because the Dark theme is very very basic and doesn't have support for a lot of token classes. Can you use the Dark+ theme and confirm that syntax highlighting is working?

[2018-10-08 19:49] kumarharsh commented on #110
I'm closing this issue, let me know if you face this again.

[2018-10-08 19:49] #110 closed

[2018-10-09 10:52] pflugs30 commented on #113
That was it!!  Thank you so much.  I never would have thought of that solution.  As soon as I changed it from `Dark (Visual Studio)` to `Dark+ (default dark)`, all the highlighting displayed correctly.  Very much appreciated!

[2018-10-09 10:52] #113 closed

[2018-10-10 18:54] Aleksion commented on #115
I'm having the same issue... :(

[2018-10-22 12:31] kumarharsh opened #116 "Extension doesn't start when code is started with inspect-extensions flag"
When VSCode is started with `code --inspect-extensions=9993` or in the extension development host mode, the extension doesn't load and shows this error:

![image](https://user-images.githubusercontent.com/760112/47292423-7f6fcc00-d624-11e8-8d3c-7a9bdcc7b164.png)

[2018-11-04 12:26] midgethoen opened #118 "Running the contributed command:'graphqlForVSCode.showOutputChannel' failed."
I'm having some trouble setting things up.

after starting vscode I immediately get:

```VSCode for Graphql couldn't start. See output channel for more details.```

after attempting to open the output channel I get:

```Running the contributed command:'graphqlForVSCode.showOutputChannel' failed.```

(error from developer console:
[code]
)

there are some more console-logs -- possibly related to th

[2018-11-04 12:42] midgethoen commented on #118
after installing watchman, as described in the setup guide, the command does work.

[2018-11-04 12:42] #118 closed

[2018-11-27 21:07] FredyC commented on #97
I've tried `@playlyfe/v3` which is supposed to work with `graphql@0.13`  but unfortunately there is this hard check in the plugin that effectively forbids it.

https://github.com/kumarharsh/graphql-for-vscode/blob/e52efb01732d46f6444bdcc577188e40cb6da5b8/src/server/server.ts#L68

Is there something I can help with on this? It's kinda surprising that with GraphQL being used more and more these supe

[2018-11-28 12:32] FredyC commented on #97
@kumarharsh I would definitely like to help to get this moving. The extension helped me a lot before, but our backend guys decided to use `type Query extends Interface1 & Interface2 ...` it doesn't work anymore because older `graphql` module does not understand these.

I guess the first step would be to figure out to use that compatible branch and have it loaded in the VSCode, shouldn't be that ha

[2018-12-04 16:04] abarger-bss commented on #115
@Aleksion @mogarick I was also having this issue. I resolved it by adding a package.json to my workspace with `npm init` and adding @playlyfe/gql (which I had already installed) to its dependencies:

[code]

[2018-12-07 04:13] bradennapier commented on #115
Also having this issue - instructions given definitely dont work

[2018-12-24 09:34] kumarharsh commented on #116
This is due to some local issue in my dev machine. Running with the `debugOptions` set to `{}` doesn't cause this issue.

[2018-12-24 09:34] #116 closed

[2018-12-24 09:44] #112 closed

[2018-12-24 13:11] kumarharsh commented on #112
:tada: This issue has been resolved in version 1.13.0 :tada:

The release is available on [GitHub release](https://github.com/kumarharsh/graphql-for-vscode/releases/tag/v1.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-26 13:53] ChristianIvicevic commented on #83
The release of gql v3 which supposedly fixes this particular issue is underway for more than a year now (dating back to September 2017, right?). Any information on the fix for comment linter errors? Otherwise I'll have to revert back to the Apollo plugin for VSCode.

[2018-12-29 05:35] garysdevil commented on #113
Cool. I would be crazy for this question.

[2019-01-05 01:33] zzzgit opened #119 "why do you use watchman instead of other npm packages?"
I think there are many `npm` packages which work similarly as `watchman`, why do you choose to use `watchman` which demand people to install an `.exe` file?

[2019-01-24 11:13] bali182 opened #120 "General "not working" issue"
I'm sorry, I don't know how to name this issue.

I followed the **installation steps**:

1. Installed `playlyfe/gql`:
<img width="329" alt="screen shot 2019-01-24 at 11 03 29" src="https://user-images.githubusercontent.com/3879181/51674051-87def680-1fc7-11e9-8f1b-792eb20d0327.png">

2. Installed `watchman`:
<img width="264" alt="screen shot 2019-01-24 at 11 03 51" src="https://user-images.githubus

[2019-01-24 11:15] kumarharsh commented on #120
The config file should be named `.gqlconfig`, not `.graphqlconfig`

[2019-01-24 11:38] kumarharsh commented on #120
I think maybe it's not able to talk to watchman. Maybe some permissions issue? Try shutting down watchman (`watchman shutdown-server`) and close vscode, then restart vscode. The plugin should automatically restart watchman server.

[2019-01-24 11:43] bali182 commented on #120
Same error after a `watchman shutdown-server`. Any way I could debug it? I'm not too familiar with the vscode plugin infrastructure.

[2019-01-31 16:57] ganeshpms opened #121 "@client with client side schema is not working"
Error saying unknown directives 'client'

[2019-01-31 18:01] ganeshpms opened #122 "Types are not merged when extended"
My .gqlconfig has schema files as following

[code]
and I have the Query defined inside `../schema` folder
[code]
and I have the Query defined inside `../app/src/clientschema.gql`
[code]

Now, I am writing a query which look like
[code]

The above scenario is working fine with `gql-gen`  tool and the app which is wriiten in angular app. The issue is that the VSCode GraphQL is not recognizing the s

[2019-01-31 20:23] kumarharsh commented on #122
Good issue. I think the correct place for this would be the @playlyfe/gql language server repo. @Mayank1791989 is that correct?

[2019-02-11 03:19] thu-san opened #125 "Unused type definition 'Subscription'"
Not an error, but show warning if I use Subscription type.
[code]
![screen shot 2019-02-11 at 12 17 36](https://user-images.githubusercontent.com/11418765/52544929-463bb180-2df7-11e9-9679-53004c42f6cc.png)

Doesn't happen with Query and Mutation type.

Do I need additional setup for subscription?
My current .gqlconfig is
[code]

[2019-02-20 08:52] WDFS commented on #115
Also having this issue. @abarger-bss 's solution does nothing for me. Is there anybody who solved this issue?

[2019-02-20 12:05] kumarharsh commented on #115
I don't have an actual solution, but I believe this could be because vscode is inheriting a different environment than your terminals, which is causing watchman to not be found in the path. I'll look into adding more diagnostics on those edge cases so that it can help you pinpoint issues better.

As a start, are all of you using Macs? I don't have a Mac, but on Windows, this issue occurs sometimes

[2019-02-20 12:08] kumarharsh commented on #115
@bradennapier - you should **not** install `@playlyfe/gql` globally - it should always be a dev dependency of your project. The instructions never mention installing the dependency globally, they have to be within the workspace root or a subfolder.

I've re-read the readme and might have missed out on such an instruction (or be blind to it!), so if you help me by pointing out where the docs cause

[2019-02-21 19:51] kumarharsh opened #126 "Migrate away from Travis"
https://old.reddit.com/r/devops/comments/at3oyq/it_looks_like_ibera_is_gutting_travis_ci_just_a/

[2019-02-26 08:24] FredyC commented on #97
Ok, guys, I want to thank for all the hard work and the joy this extension has brought in the past 👏 It's time to move on with the awesome [Apollo GraphQL](https://marketplace.visualstudio.com/items?itemName=apollographql.vscode-apollo) that has emerged. It works out of the box without any complicated configuration and extra packages. I really recommend you to try it out.

[2019-03-10 20:46] Akumzy commented on #42
I'll be happy to help with [fs-watcher](https://github.com/Akumzy/fs-watcher)

[2019-03-11 13:55] akashbdj opened #127 "not working when used with golang-graphql"
Hi,

I'm trying to use this extension in **golang-graphql** project. It doesn't work as expected. Also, I'm seeing this issue on vscode `output` tab:

<img width="1289" alt="Screen Shot 2019-03-11 at 7 18 43 PM" src="https://user-images.githubusercontent.com/7085282/54128710-a6436900-4432-11e9-91d8-75a0b37ea40b.png">

What's working: Syntax Highlighting
What's not working: Go to definition, lintin

[2019-03-11 14:13] kumarharsh commented on #127
Can you post a link to the golang-graphql project? I'll have a look

[2019-03-11 14:21] akashbdj commented on #127
Hi @kumarharsh,

Thank for quick response. I can't share the project; it's an internal tool.
Here's what we are using: https://github.com/graph-gophers/graphql-go

Project structure looks like:
[code]

What's surprising here is: extension worked for a minute. I was able to click on `types` and it took me to the definition. I was also able to see the linting errors. But it stopped working; i didn't

[2019-03-12 10:41] kumarharsh commented on #127
@akashbdj I suspect it's something to do with watchman - try shutting down the watchman server and then open vscode again -  do `watchman shutdown-server`, and then just reload your vscode window via Reload Window which will cause the plugin to get reinitialized and kick-start watchman automatically.

[2019-03-12 11:09] akashbdj commented on #127
I already tried it after looking at other issues. I also tried updating watchman, it doesn't work in either case.

This is the message i'm seeing in vscode output console:
[code]

Also, it's **red** indicating some sort of an error.
<img width="1294" alt="Screen Shot 2019-03-12 at 4 36 45 PM" src="https://user-images.githubusercontent.com/7085282/54195617-24604800-44e5-11e9-869f-e45e75e3bc9e.png">

[2019-03-15 15:06] codepunkt opened #128 "Does not work when updating the schema"
Syntax highlighting for queries/mutations in .gql files works fine. However, updating the schema that is pointed at from `.graphqlconfig.yml` does not change the autocompleted values, doesnt show errors on now non-matching queries and also doesn't update tooltips for changed comments on types.

Is this the expected behavior? Shouldn't this work?

[2019-03-15 15:07] codepunkt commented on #128
Wrong repository, sorry.

[2019-03-15 15:09] #128 closed

[2019-03-19 08:54] TuxujPes commented on #120
Have the same issue - `VSCode for Graphql couldn't start`
Neither changing `schema` nor `.gqlconfig` have any different effect.

<details><summary>.gqlconfig</summary>
<p>

[code]
</p>
</details>

@kumarharsh any ideas on what we can try to resolve this?

[2019-03-20 04:28] Mayank1791989 commented on #120
@TuxujPes The error can happen if `schema.graphql` file is not present or there is some error in `schema.graphql` file which is not handled in plugin (Share content of `schema.graphql` if possible).

To fix issue first check `schema.graphql` file is present. If the file is present and still error is coming then replace `schema.graphql` content with below and restart vscode. If everything works fin

[2019-03-26 14:47] galvesribeiro commented on #120
I'm having the same issue here using the exactly same versions and tried the shutdown workaround...

In my case, nothing works... Syntax highlight, nothing...

Can anyone shed a light and what that may be?

[2019-03-26 15:04] galvesribeiro commented on #46
So, any updates on this?

[2019-04-04 19:54] DogsForArms opened #130 "Issues when schema.gql has """ formatted comments"
Hello.  My graphql schema has triple-quote descriptions, such as """Description goes here""".
Seems like I'm not getting autocomplete when that is the case.  If I go to the schema.gql file and replace all """ with #, there is no longer an issue and my autocomplete works as expected (within gql tags).

[2019-04-25 19:56] Renaud009 commented on #92
Both options doesn't work for me since I'm using merge-graphql-schema too and extending types just fail and my main Mutation object is generated by Prisma :-(

I actually want to extend Prisma entities and mutations with authorization directives.

There's no way currently to just deactivate "unique named types" check?

[2019-04-26 11:27] aprknight opened #133 "Server initialization failed"
I have no idea what's going on here
VSCode v1.33.1
Node v12.0.0
GraphQL for VSCode v1.13.1

[Info  - 12:04:52 PM] NODE_PATH value is: /Users/Andy/node_modules
[Info  - 12:04:53 PM] Module '@playlyfe/gql' loaded from: /Users/Andy/node_modules/@playlyfe/gql/lib/index.js
[Error - 12:04:53 PM] Server initialization failed:
Request initialize failed with message: options.cwd must be a string

Expected:

[2019-04-26 13:28] kumarharsh commented on #133
Seems like the workspaceRoot is empty... Can you try opening the project folder in vscode?

[2019-05-03 19:31] brettjashford opened #134 "Unable to get it working with relay modern"
i believe i've set everything up according to the docs but the plugin doesn't seem to be working and i'm seeing an error in the vs code dev tools.

my `.gqlconfig`:
[code]

i've tried with schemas in json as well as type declaration format. i've tried with and without `relay: true`.

after restarting the plugin, i get the following output
[code]
along with this error in the vs code dev tools
[code

[2019-05-04 03:24] kumarharsh commented on #134
Working on it. Should be out soon 🙂

[2019-05-06 15:05] brettjashford commented on #134
nice, thanks! 🙏

[2019-05-07 00:19] sumbad commented on #32
@kumarharsh could you explain, how to setting this extension to disable error `Syntax Error: Cannot parse the unexpected character "&".graphql(syntax)`?

![image](https://user-images.githubusercontent.com/10432330/57262885-baa58a00-70a0-11e9-8706-76d79e547862.png)

[2019-05-07 20:47] ericclemmons opened #135 "Syntax highlighting fails when seeing .graphql`"
[code]

I was able to confirm that the following works:

[code]

So the issue is with `graphql` + backtick.

[2019-05-07 20:48] ericclemmons commented on #135
This seems to be the culprit, but I don't understand the capture annotation (yet):
https://github.com/kumarharsh/graphql-for-vscode/blob/1cdee66d518dd3bf0c741c0422d7a618d32256d0/syntaxes/graphql.js.json#L38-L47

[2019-05-28 00:38] lucasconstantino commented on #122
https://github.com/Mayank1791989/gql/issues/45

[2019-05-31 23:35] zwhitchcox opened #137 "custom colors for directives"
Hi, I'm using your graphql syntax highlighter, and I'm wondering how hard it would be to modify it where you can color code your directives.

So, I have two directives that I use repetitively, and it would be easier to quickly distinguish the two if they were color coded.

So, for instance something like

[code]
So, you can see how this can get a little visually cluttered. Anyway, I'm just wonderi

[2019-06-05 19:22] kumarharsh commented on #137
I don't think VSCode provides an API to specify custom colours to different parts of the same type. Can you give me an example where you've seen such a thing in action, so that we can think of some solution to this.

Do correct me if I'm wrong, but I think what you want is to designate some specific directives (like `@validation`, but there can be others too) in a muted colour, and the rest of the

[2019-06-05 23:56] zwhitchcox commented on #137
Hey Kumar!

Thanks for getting back to me...I actually did figure this out though, and I forgot I had opened this issue.

I was able to solve my use case somewhat simply using [decorations](https://github.com/zwhitchcox/graphql-authorization-and-validation-directives-highlighting/blob/master/src/extension.js), and I open sourced the extension as you can see.

I tried going the syntax highlighting

[2019-06-05 23:56] #137 closed

[2019-06-27 18:40] borekb commented on #130
[Descriptions](https://graphql.github.io/graphql-spec/June2018/#sec-Descriptions) don't seem to be supported at all:

![image](https://user-images.githubusercontent.com/101152/60291701-b87edf80-991b-11e9-9382-7f04a3e52035.png)

[2019-07-04 15:14] #33 closed

[2019-07-04 15:17] kumarharsh commented on #33
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on:
- [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode)
- [GitHub release](https://github.com/kumarharsh/graphql-for-vscode/releases/tag/untagged-86bc55cb857a51210181)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)**

[2019-07-04 15:21] kumarharsh commented on #46
It has arrived in the latest version. 🎉

[2019-07-04 15:21] #46 closed

[2019-07-05 08:06] jerrywdlee opened #142 "Syntaxes fails when use `#{ … }` in heredoc in Ruby"
When use `<<GRAPHQL` heredoc  in ruby, it got an grammar error when I tried to embed variables inside them.

![dataset_type_spec_rb_—_caesaris](https://user-images.githubusercontent.com/10390079/60707578-0b255080-9f47-11e9-89a7-e0a70647e86a.png)

Should be

![dataset_type_spec_rb_—_caesaris](https://user-images.githubusercontent.com/10390079/60707628-25f7c500-9f47-11e9-827c-d5cd010d2cf4.png)

[2019-07-05 12:50] kumarharsh commented on #142
Closed in 34bb681, released in 1.14.1

[2019-07-05 12:50] #142 closed

[2019-07-12 05:41] syeutyu opened #150 "Greenkeeper badge image is not showing in readme.md"
<img width="906" alt="스크린샷 2019-07-12 오후 2 38 31" src="https://user-images.githubusercontent.com/25384956/61104922-087cab00-a4b3-11e9-9f59-2c754ae47723.png">

Greenkeeper badge image url is not found so click that image redirect greenkeeper.io url

[2019-07-12 06:56] kumarharsh commented on #150
Yeah, I've removed greenkeeper - will remove the badge. Thanks for reporting.

[2019-07-13 13:43] #150 closed

[2019-07-13 13:48] kumarharsh commented on #150
:tada: This issue has been resolved in version 1.15.0 :tada:

The release is available on:
- [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode)
- [GitHub release](https://github.com/kumarharsh/graphql-for-vscode/releases/tag/untagged-e9779fb577357061aacd)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)**

[2019-08-07 08:10] Maxwell2022 opened #162 "Confusing configuration in README"
I'm trying to configure this plugin for a project that uses Apollo Client. The short story, I cannot make this plugin work for now. The long story:

I'm going through the README step by step and I cannot manage to make it work.
My graphQL server is not running on Apollo Engine, I don't know if this makes a difference or not. Following the README:

I do have `@playlyfe/gql` (2.6.1) installed in my

[2019-08-07 08:15] kumarharsh commented on #162
The `nodePath` setting has to be configured, like shown below. This is the path where the `@playlyfe/gql` node module should be found.

[code]

[2019-08-07 08:24] Maxwell2022 commented on #162
I would think that the default path would be the workspace `node_modules`.

Anyway, I've added the following in my `.vscode/settings.json`:
[code]

I've restarted VS Code. I think the syntax highlighting is working but the autocomplete is not. I don't know where I should put my graphql endpoint in order to fetch the schema and validate my query.

[2019-08-07 10:59] kumarharsh commented on #162
I've found a bug in autocomplete in the latest release. Will be pushing a fix shortly

[2019-08-07 15:59] kumarharsh commented on #162
Can you update the extension and try again?

[2019-08-08 00:49] Maxwell2022 commented on #162
Thanks @kumarharsh, I would love to test it. However, I'm still confused about where to set up the endpoint of my schema introspection so that GQL can actually validate my queries / mutations against it.

[2019-08-08 04:00] Mayank1791989 commented on #162
@Maxwell2022 Looks like your `.gqlconfig` is not configured correctly. Share your config file and graphql output panel logs.

[2019-08-08 04:10] Maxwell2022 commented on #162
Thanks @Mayank1791989, here is my `.gqlconfig`:

[code]

Why I am confused is because I'm on a mobile application project (using Apollo Client) but I don't have any file with the `.gql` or `.graphql` extension in this project.
I just use the `gql` template literal and I'm wondering how the vscode plugin or `gql` knows where it should look at to get my schema definition. I'm hosting my graphQL API

[2019-08-08 04:19] Mayank1791989 commented on #162
In `.gqlconfig` there are two sections one for schema (schema key) and one for clients (queries key). For schema you have to point to the files which contains schema definition (SDL) and it's required for plugin to start. Sample schema file looks like this
[code]
If you are using graphql-js you can use printSchema to generate one.

[2019-08-08 04:32] Maxwell2022 commented on #162
That's what I thought so I used `graphql-cli` to download the my server schema in my client project.

in my `package.json` I have a script to fetch this schema:
[code]

Which is reading the `.graphqlconfig.yml` file from my client project, download the schema and save it to the destination:

[code]

So I have my `schema.graphql` in my `src` folder.
Which match my `.gqlconfig`configuration:

[code]

[2019-08-08 04:35] Maxwell2022 commented on #162
I can't see the graphqQL output panel in vscode:
![image](https://user-images.githubusercontent.com/670701/62675274-afd4fb00-b9e9-11e9-8789-423ed35451ab.png)

[2019-08-08 04:39] Mayank1791989 commented on #162
Try running plugin with this schema
[code]

[2019-08-08 04:50] Maxwell2022 commented on #162
Still not validating correctly:

![image](https://user-images.githubusercontent.com/670701/62675784-bf554380-b9eb-11e9-8899-25a0a2fc5253.png)

![image](https://user-images.githubusercontent.com/670701/62675798-ca0fd880-b9eb-11e9-815f-f3cb1ea86a81.png)

![image](https://user-images.githubusercontent.com/670701/62675804-d005b980-b9eb-11e9-8e88-2fb2808249f1.png)

[2019-08-08 04:53] Mayank1791989 commented on #162
Is plugin showing running. You will see `GQL` icon in status bar.
![Screenshot_2019-08-08_10-13-27](https://user-images.githubusercontent.com/1512953/62675897-82c32100-b9c6-11e9-9e1a-a7aaac70133b.png)

[2019-08-08 05:05] Maxwell2022 commented on #162
okay, I found the first issue 😬

![image](https://user-images.githubusercontent.com/670701/62676216-625a8d00-b9ed-11e9-9c6d-4b80f552d5b5.png)

Now GQL is starting and I can see GraphQL in the output panel:

[code]

It looks like the `GQL` still in sync

![image](https://user-images.githubusercontent.com/670701/62676376-02181b00-b9ee-11e9-9430-7184b6942420.png)

[2019-08-08 05:13] Mayank1791989 commented on #162
Comment the query section of .gqlconfig and check validation, autocomplete other features working in your schema file.

[2019-08-08 05:19] Maxwell2022 commented on #162
Okay so now it looks like the `gql-language-server` started

![image](https://user-images.githubusercontent.com/670701/62676898-a5b5fb00-b9ef-11e9-9791-ead904b52da9.png)

I'm using the same folder structure for the schema just to be sure. However the validation still not work.

.gqlconfig:
[code]

![image](https://user-images.githubusercontent.com/670701/62676943-d39b3f80-b9ef-11e9-89fd-3f1915cb90

[2019-08-08 05:20] Mayank1791989 commented on #162
Try hovering over `ID` in schema file or go to definition on `User`.

[2019-08-08 05:25] Maxwell2022 commented on #162
It looks like this is working:

![image](https://user-images.githubusercontent.com/670701/62677079-56bc9580-b9f0-11e9-986c-4dacec2050f3.png)

I've tried a simple `arc/test.js` and it still not validating:

![image](https://user-images.githubusercontent.com/670701/62677169-b87cff80-b9f0-11e9-9da6-47561d48c5d3.png)

[2019-08-08 05:27] Mayank1791989 commented on #162
What is your `.gqlconfig` above?

[2019-08-08 05:28] Maxwell2022 commented on #162
This is my current `./.gqlconfig`
[code]

[2019-08-08 05:29] Mayank1791989 commented on #162
You need to add query for client files.
[code]

[2019-08-08 05:35] Maxwell2022 commented on #162
Now it's working for my `src/test.js`

![image](https://user-images.githubusercontent.com/670701/62677439-a8b1eb00-b9f1-11e9-9b78-264a4efd8bd1.png)

It looks like I can't use regex for the match. As soon as I change the config to match `.tsx` alongside `.js` the GQL plugin hang

[code]

[2019-08-08 05:37] Mayank1791989 commented on #162
Use this instead `match: ['src/**/*.js', 'src/**/*.tsx']`. I thinks watchman is not supporting this `match: 'src/**/*.{js,tsx}'` syntax. Will look into it.

[2019-08-08 05:43] Maxwell2022 commented on #162
And I think that's it! Thank you so much!

It's working great now. I'll submit a PR by the end of the week to improve the readme.
Thanks again a lot for your time

[2019-08-08 05:48] Mayank1791989 commented on #162
Also note currently this plugin supports only [graphql-spec oct16](https://graphql.github.io/graphql-spec/October2016/). So make your schema files doesn't use some new syntax (like docString or '&' in implements).

[2019-08-20 08:05] Maxwell2022 commented on #162
Here is the PR https://github.com/kumarharsh/graphql-for-vscode/pull/171/files

[2019-09-01 11:29] #162 closed

[2019-09-10 18:31] maapteh commented on #22
Even when added as normal typescript files and added to the section it's still not supported to have fragments? (error: KnownFragmentNames) Can it be added?

[code]

[2019-09-15 07:46] HosseinAgha commented on #46
@kumarharsh I'm on `1.15.1` and this is not working for me. Should I create VSCode workspace for each project in monorepo for this to work?

[2019-09-15 07:51] Mayank1791989 commented on #46
Yes and you need config file in root of workspace folder.

[2019-09-15 08:06] HosseinAgha commented on #46
As far as I know it is not possible to use vscode workspaces with a monorepo setup (take a look at [apollo server](https://github.com/apollographql/apollo-server)) as you need the root directory in your workspaces and [vscode does not support nested workspaces](https://github.com/microsoft/vscode/issues/45470)

[2019-09-15 09:35] Mayank1791989 commented on #46
I am planning to implement the multi project support something similar to how I implemented in flow-for-vscode plugin that will solve the mono repo issue. But for now you can make all individual gqlconfig folder as vscode workspace folder.

[2019-09-19 07:55] levrik commented on #97
@FredyC Sadly it doesn't support referencing a local schema consisting out of several files which I really need.

[2019-09-19 12:28] FredyC commented on #97
@levrik Then file the suggestion. Apollo is surely a more active community and there are good chances for that to happen.

[2019-10-08 19:45] frederikhors opened #187 "Can this extension become a formatter?"
Is there a way to format my `schema.graphql` files in Visual Studio Code?

If I install this extension and reload Visual Studio Code and try to format my file it every time complains with:

`There is no formatter for 'graphql'-files installed.`

Is there a formatter?

Can this extension become a formatter?

[2019-10-09 08:20] kumarharsh commented on #187
Good question. Let me research a little bit on this topic.

[2019-10-14 07:25] Maxwell2022 commented on #130
That's because of the `@playlyfe/gql` not supporting the graphql definition for comments/descriptions.

You want to follow this issue that has been opened over a year ago now:
https://github.com/Mayank1791989/gql/issues/143

[2019-10-15 15:02] KTrentLR opened #191 "Question: Is there a way to turn off or disable deprecation warnings?"
![image](https://user-images.githubusercontent.com/1141262/66843758-d4da7280-ef32-11e9-9bcd-d40c2295d3f7.png)

[2019-12-31 20:32] sunscreem opened #227 "I'm doing something dumb I think - syntax highlighting not working?"
![image](https://user-images.githubusercontent.com/7523595/71633497-5ecdd980-2c0c-11ea-80b3-4452247e0f7f.png)

As you can see - the query isn't being highlighted. But then again - why would it? VS code doesn't know this is graph ql code. If I add `gql` before the ` then it works, but it throws a run time error.

[2020-01-01 19:06] kumarharsh commented on #227
You can use the comment syntax to tell the syntax highlighter that this is a graphql block.

[code]

[2020-01-01 20:04] sunscreem commented on #227
Thank you sir!

[2020-01-01 20:04] #227 closed

[2020-01-02 07:07] kumarharsh commented on #227
You're welcome :)

[2020-01-29 13:45] Daviziu commented on #32
I have the same problem as @sumbad
Once I use the correct way of implementing multiple interfaces using the ampersand sign, the whole file doesn't work for Autocompletion anymore.
So yeah it is more than just a warning and totally breaks it all for me

[2020-01-30 13:41] Daviziu opened #240 "Syntax error when a type implements multiple interfaces or descriptions are used"
There are two instances where the correct GraphQL syntax is used but the extension gives an error which also breaks inspection/autocomplete in other files.

1) **Multiple Interfaces**
related to #32
[code]
In this case the ampersand symbol is highlighted and the following error is displayed.
![Bildschirmfoto 2020-01-30 um 14 33 24](https://user-images.githubusercontent.com/8290669/73454117-b4151c0

[2020-01-31 09:36] kumarharsh commented on #32
This issue is actually not due to this plugin, but due to the underlying `@playlyfe/gql` library. @Mayank1791989?

[2020-01-31 09:38] kumarharsh commented on #240
It's an issue of the underlying language server. Can you please file it at https://github.com/Mayank1791989/gql/issues

[2020-01-31 09:38] #240 closed

[2020-03-23 16:59] RicCu commented on #42
Hi, what's the status on this?

[2020-03-24 13:56] kumarharsh commented on #42
No updates.

[2020-04-05 18:42] frederikhors commented on #187
@kumarharsh any news on this? It would be amazing! Today there is nothing easy to accomplish this in vscode.

[2020-04-05 18:44] kumarharsh commented on #187
Haven't had time to look into this extension lately. I think Prettier should have something for this, but still have to research. If you do find a solution, I'd be open to a PR too.

[2020-04-05 18:46] frederikhors commented on #187
Prettier is too heavy.

[2020-04-05 18:46] frederikhors commented on #187
Prettier is too heavy and intereferes with other plugins for other projects types (JS).

[2020-04-23 17:04] dosstx commented on #42
Hi, just an update that I am unable to get this working in Windows due to watchman screwing up my paths.

[2020-05-13 05:30] vthukral94 opened #278 "Unable to use extension, Logs & Config Provided in Description"
Hi,
I followed the setup carefully & the extension is running without any errors. But, none pf the feature seems to work.

`/* .gqlconfig */
{
    schema: {
        files: 'schemas/*.graphql'
    },
    query: {
        files: [ /* define file paths which you'd like  the gql parser to  watch and give autocomplete suggestions for */
            {
                match: ['server/src/**/*.js', 'serve

[2020-05-13 05:32] vthukral94 commented on #278
The project structure is as follows
`foonodeweb/.gqlconfig`
`foonodeweb/server/src/helpers/*.js`

Let me know if more info is needed. Will appreciate any help

[2020-05-13 06:17] kumarharsh commented on #278
Hi, do you have `schemas` defined and put in the `foonodeweb/schemas` folder? If they are in a subfolder within schemas, you'd also need to change the `gqlconfig.schema.files` config to `schemas/**/*.graphql`. Please let me know

[2020-05-13 17:45] vthukral94 commented on #278
@kumarharsh I have only one shema file under schemas.
`schemas/schema.graphql`

[2020-05-13 17:55] vthukral94 commented on #278
@kumarharsh The schema contains `description comments`. Is it possible that it is causing any issues?
[code]
I found some more information here https://github.com/graphql/graphql-js/pull/927. A flag is required to properly parse schema with such description comments.

[2020-05-13 17:59] kumarharsh commented on #278
Yeah, that's a limitation of this extension - being tracked at https://github.com/Mayank1791989/gql/issues/143. Right now, I can't give a timeline on when it'll be fixed. See if converting to the older `#` prefixed descriptions fix this issue?

[2020-05-27 19:33] Sceat commented on #105
Still half breaking for me on inline comments
![image](https://user-images.githubusercontent.com/11330271/83064211-be1c0280-a061-11ea-96a1-a08919e93ba7.png)

[2020-09-23 01:51] tzarger opened #307 "Is there support for customer Scalars?"
This extensions throws errors for custom scalars. Saying not recognized basically. Is there going to be support for custom scalars? Or if already, how and where do you define the custom scalar?

Thank you.

[2021-01-12 08:47] oxy opened #309 "[Request] Publish extension on Open-VSX"
Hi there!

I'm reaching out to you because we currently have your extension manually added to our extension gallery at Coder for [code-server](https://github.com/cdr/code-server/), and we're currently working on a migration to open-vsx, which is also used by other community VSCode forks (including, but not limited to Arch Linux's Code-OSS builds and VSCodium).

We (and other open source VSCode for

[2021-01-14 16:56] kumarharsh commented on #309
Thanks for reaching out. I'll look into it 😊

[2021-03-01 15:23] kumarharsh commented on #309
Done!

[2021-03-01 15:23] #309 closed

[2021-03-16 09:30] khacminh commented on #278
Seem the projects are abandoned

[2021-06-29 03:40] arackaf commented on #122
For those winding up here, it looks like this project is largely abandoned, with a more current VS Code plugin here:

https://marketplace.visualstudio.com/items?itemName=GraphQL.vscode-graphql

[2021-09-24 16:27] diminutivesloop opened #310 "doesn't work with Yarn PNP"
I'm working in a project that recently converted to Yarn plug'n'play for installing dependencies and this extension has started failing with the following error message:
[code]

I'm assuming I need to set `graphqlForVSCode.nodePath` in VSCode settings but I'm not sure what I should set it to, since I can't figure out where @playlyfe/gql is actually installed.

[2022-04-10 16:40] jalalmanafi commented on #47
Same problem , can anyone helps me ?

[2022-05-08 13:05] ikramhasib007 commented on #47
If you have any client-side schema then add them into `apollo.config.js` file too. like

[code]

schema.js
[code]

[2022-05-28 14:19] GBrachetta commented on #47
I have the same issue and I'm on a Mac. Don't understand why this has been closed. It happens every single time to me.

[2022-05-31 20:51] apetta commented on #47
Getting this every time on Mac M1 mini

[2022-06-01 21:15] simon-abbott commented on #47
Also on mac here, extension v0.4.4 works perfectly, but as soon as I update to v0.4.6 it breaks. I was able to workaround this by going into the extension and downgrading to 0.4.4 (go to the extension, click the down arrow next to "uninstall", choose "Install another version", and select 0.4.4).

[2022-06-02 16:10] adamduren commented on #47
@kumarharsh being that this has been liked and watched 43 times in the last five days it seems like a valid issue although possibly should be a new one as at least in my case it doesn't appear to be related to Watchman but due to the fact there is not a valid graphQL schema file in some of my non-graphQL projects.

[code]

[2022-06-02 16:27] simon-abbott commented on #47
@GBrachetta @adamduren If you're using the official GraphQL plugin ([this one](https://marketplace.visualstudio.com/items?itemName=graphql.vscode-graphql), _not_ [this one](https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode)), then you want to follow this issue: https://github.com/graphql/graphiql/issues/2421.

[2022-06-02 16:34] adamduren commented on #47
@simon-abbott great catch, thank you!

[2022-06-03 06:33] jalalmanafi commented on #47
Still have same problem
![Screen Shot 2022-06-03 at 10 31 25](https://user-images.githubusercontent.com/53921355/171800050-d3fa3433-b264-4b9c-8d58-a075a65804e4.png)

[2022-06-03 18:54] simon-abbott commented on #47
@jalalbmnf That's using the official plugin, _not this one_. You want https://github.com/graphql/graphiql/issues/2421.

[2022-08-19 23:58] SamuelNoB opened #312 "Add sintax support for apollo federation directives"
I have a project wich uses apollo federation and its directives, and very often we need to use then in our models. is it possible to add support for this kind of directives?

![image](https://user-images.githubusercontent.com/48574832/185720740-fc86de7f-21de-4121-ba94-7e299d698a60.png)

[2022-10-17 13:42] plmrlnsnts opened #313 "Can we support syntax highlighting for PHP language?"
In PHP, it is possible to embed a string literal using heredoc.

[code]

The apostrophe can also be omitted.

[code]

How can we support syntax highlighting using this format?